* {
  color: white;
  overflow-x: visible !important;
}

.bg-dark {
  background-color: rgb(51, 102, 153) !important;
}

/* p{
    font-size: 14px;
    letter-spacing: 0.3px
  } */

#heading {
  font-size: 14px;
  letter-spacing: 0.3px
}

#menu {
  margin-left: 147px
}

img {
  margin-left: 44px;
  height: 110px;
  margin-top : -30px;
}

.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-top: -11px;
}

.fixed-top {
  height: 141px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

li {
  margin-right: 100px;
  list-style-type: none;
}

.navbar-nav .nav-link {
  padding-right: 0px;
  padding-left: 0px;
  font-size: 11px
}

option,
select {
  color: black;
  font-size: 11px
}

label {
  margin-bottom: 0px;
  font-size: 11px
}

.navbar-brand {
  display: inline-block;
  padding-top: 1.3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.profileStat {
  margin-top : -5px;
}

.adminInfo {
  color:yellow;
  font-style:italic
}
