<table class="header">
  <tbody>
    <tr>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="pageTitle">CA Transaction Manager Release 7.13 — Administrating</div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <div class="description">Learn how to use the CA Transaction Manager Administration Console.</div>
        <div class="errorMessage"></div>
        <div class="successMessage"></div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <hr>
      </td>
    </tr>
    <tr>
      <td colspan="3">
      </td>
    </tr>
  </tbody>
</table>
<table class="formTable">
  <tbody>
    <tr>
      <td>
        &nbsp;
      </td>
      <td colspan="3">
        <div class="pageTitle1">
          To open the Administrating section of the CA Transaction Manager Wiki for release 7.13, use one of the
          following links:</div>
      </td>
    </tr>
    <tr>
      <td width="10">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
<table class="formTable">

  <tbody>
    <tr>
      <td>
        &nbsp;
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        &nbsp;
      </td>
      <td colspan="3">
        <a href="https://docops.ca.com/ca-transaction-manager-for-saas-issuers/7-13/en/administrating" target="_new" id = "SassIssuers">
        <strong>For SaaS Issuers</strong>
        </a>
      </td>
    </tr>
    <tr>
      <td width="10">
        &nbsp;
      </td>
    </tr>

  </tbody>
</table>
<table class="formTable">
  <tbody>
    <tr>
      <td>
        &nbsp;
      </td>
      <td colspan="3">
        <div class="pageTitle1">
          If you do not have the credentials required to log in to docops.ca.com, then contact CA Support.</div>
      </td>
    </tr>
    <tr>
      <td width="10">
        &nbsp;
      </td>
    </tr>
  </tbody>
</table>
<table class="formTable">
  <tbody>
    <tr>
      <td colspan="4">
        <hr>
      </td>
    </tr>
  </tbody>
</table>
<table class="formTable">
  <tbody>
    <tr>
      <td colspan="4" class="rightAlign">
        <a href="http://www.ca.com" target="_blank">
          <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
      </td>
    </tr>
  </tbody>
</table>