<div id="accordion" class="sidenav">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse1" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Issuer Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse1" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Issuer Configurations</p>
  </div>
  <div id="collapse1" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a routerLink="/isco/create_issuer">• Create Issuer</a></li>
        <li><a routerLink="isco/add_FI_information">• Add FI Information</a> </li>
        <li><a routerLink="/isco/update_FI_information">• Update FI Information</a> </li>
        <li><a routerLink="/isco/add_issuer_customization">• Add Issuer Customization</a> </li>
        <li><a routerLink="/isco/update_issuer">• Update Issuer</a> </li>
        <li><a routerLink="/isco/configure_issuer_parameters">• Configure Issuer Parameters</a> </li>
        <li><a routerLink="/isco/upload_signing_certificate">• Upload Signing Certificate</a> </li>
        <li><a routerLink="/isco/enable_card_ranges">• Enable Card Ranges</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse2" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Global Admin Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse2" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Global Admin Configurations</p>
  </div>
  <div id="collapse2" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a routerLink="/gaco/global_admin/create">• Create Global Admin</a></li>
        <li><a routerLink="/gaco/global_admin/update">• Update Global Admin Privileges</a> </li>
        <li><a routerLink="/gaco/global_admin/modify">• Enable/Disable/Delete Global Admin Account</a> </li>
        <li><a routerLink="/gaco/global_admin/reset">• Reset Global Admin Password</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">

  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse3" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Issuer Admin Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse3" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Issuer Admin Configurations</p>
  </div>
  <div id="collapse3" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a routerLink ="/iaco/issuer_admin/create">• Create Issuer Admin</a></li>
        <li><a routerLink ="/iaco/issuer_admin/configure_policy">• Configure Issuer Admin Policy</a> </li>
        <li><a routerLink ="/iaco/issuer_admin/modify">• Enable/Disable/Delete Issuer Admin Account</a> </li>
        <li><a routerLink ="/iaco/issuer_admin/reset_password">• Reset Issuer Admin Password</a> </li>
        <li><a routerLink ="/iaco/issuer_admin/update_privilages">• Update Issuer Admin Privileges</a> </li>
        <li><a routerLink ="/iaco/issuer_admin/configure_privilages">• Configure Issuer Admin Privileges</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse4" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Admin Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse4" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Admin Configurations</p>
  </div>

  <div id="collapse4" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Update Administrator Privileges</a></li>
        <li><a >• Create Administrator</a> </li>
        <li><a >• Enable/Disable/Delete Administrator Account</a> </li>
        <li><a >• Configure Administrator Policy</a> </li>
        <li><a >• Reset Administrator Password</a> </li>
        <li><a >• Configure Administrator Privileges</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse5" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Template Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse5" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Template Configurations</p>
  </div>
  <div id="collapse5" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Create Global Admin Template</a></li>
        <li><a >• Create Issuer Admin Template</a> </li>
        <li><a >• Create Administrator Template</a> </li>
        <li><a >• Update Global Admin Template</a> </li>
        <li><a >• Update Issuer Admin Template</a> </li>
        <li><a >• Update Administrator Template</a> </li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse6" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Cardholder Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse6" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Cardholder Configurations</p>
  </div>

  <div id="collapse6" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Cardholder Account Inquiry</a></li>
        <li><a >• Locked Cardholder Report</a> </li>
        <li><a >• Add Cardholder</a> </li>
        <li><a >• Actions on Card</a> </li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse7" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Case Management</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse7" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Case Management</p>
  </div>
  <div id="collapse7" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a routerLink="/cmgt/view_and_update_case">• View and Update Case</a></li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse8" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Callout Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse8" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Callout Configurations</p>
  </div>

  <div id="collapse8" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Add CallOut Configuration</a></li>
        <li><a >• Update CallOut Configuration</a> </li>
        <li><a >• Add Issuer Callout</a> </li>
        <li><a >• Update Issuer Callout</a> </li>
        <li><a >• Risk Assessment Configuration</a> </li>
        <li><a >• Add Group</a> </li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse9" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>System Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse9" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>System Configurations</p>
  </div>
  <div id="collapse9" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Transaction Report By Cardnumber</a></li>
        <li><a >• Update ACS Config</a> </li>
        <li><a >• Update ES Config</a> </li>
        <li><a >• Add New Phone Support</a> </li>
        <li><a >• Refresh ES/Admin Cache</a> </li>
        <li><a >• Add Range Group</a> </li>
        <li><a >• Server version Report </a> </li>
        <li><a >• View Application Log</a> </li>
        <li><a >• Upload Signing Root Certificates</a> </li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse10" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Enrollment Process Configurations</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse10" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Enrollment Process Configurations</p>
  </div>

  <div id="collapse10" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Attributes</a></li>
        <li><a >• Fields</a> </li>
        <li><a >• Order</a> </li>
        <li><a >• Password & UserID</a> </li>
        <li><a >• Question Policy</a> </li>
        <li><a >• Issuer Questions</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse11" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Registration Reports</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse11" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Registration Reports</p>
  </div>
  <div id="collapse11" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Failed Registrations</a></li>
        <li><a >• Successful Registrations</a> </li>
        <li><a >• Individual Registration Status</a> </li>
        <li><a >• All Registrations by Date</a> </li>
        <li><a >• Registration Statistics</a> </li>
        <li><a >• ADS Statistics</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse12" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Transaction Reports</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse12" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Transaction Reports</p>
  </div>
  <div id="collapse12" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Failed Transactions</a></li>
        <li><a >• Transaction Statistics</a> </li>
        <li><a >• Verify Enrollment Log</a> </li>
        <li><a >• Successful Transactions</a> </li>
        <li><a >• Attempts Transaction</a> </li>
        <li><a >• All Transactions</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse13" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Admin Reports</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse13" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Admin Reports</p>
  </div>

  <div id="collapse13" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Admin Status Report</a></li>
        <li><a >• Admin Contact Details Report</a> </li>
        <li><a >• Issuer Admin Report Access Log</a> </li>
        <li><a >• Issuer Admin Activities Log</a> </li>
        <li><a >• Admin Entitlement Report</a> </li>
        <li><a >• Global Admin Activities Log</a> </li>
        <li><a >• Global Admin Report Access Log</a> </li>
        <li><a >• Administrator Report Access Log</a> </li>
        <li><a >• Administrator Activities Log</a> </li>
        <li><a >• Issuer Upload Status Log</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse14" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Cardholder Reports</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse14" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Cardholder Reports</p>
  </div>

  <div id="collapse14" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Cardholders Added by Administrator</a></li>
        <li><a >• Deactivated Cardholders</a> </li>
        <li><a >• Active Cardholders</a> </li>
        <li><a >• Pre-Enrolled Cardholders</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse15" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Issuer Reports</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse15" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Issuer Reports</p>
  </div>
  <div id="collapse15" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Issuer Configuration Summary</a></li>
        <li><a >• View All Issuers</a> </li>
        <li><a >• Billing Information</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse16" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Ops Privileges</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse16" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Ops Privileges</p>
  </div>
  <div id="collapse16" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• AdminTask By Requestor</a></li>
        <li><a >• AdminTask By Approver</a> </li>
        <li><a >• Issuer Update</a> </li>
        <li><a >• Issuer Migration</a></li>
        <li><a >• Issuer Decommission</a> </li>
        <li><a >• Refresh</a> </li>
        <li><a >• Add Bin</a></li>
        <li><a >• Delete Bin</a> </li>
        <li><a >• Update Bin</a> </li>
        <li><a >• Upload Content</a></li>
        <li><a >• Issuer Make Like</a> </li>
        <li><a >• Issuer Answers Hash</a> </li>
        <li><a >• Upload Application Resources</a></li>
        <li><a >• Upload Application Resources Report</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse17" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>SAML Configuration</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse17" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>SAML Configuration</p>
  </div>

  <div id="collapse17" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Create Identity Provider</a></li>
        <li><a >• Update Identity Provider</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse18" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Upload</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse18" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Upload</p>
  </div>
  <div id="collapse18" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Batch File</a></li>
      </ul>
    </div>
  </div>
</div>


<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse19" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>Tools</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse19" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>Tools</p>
  </div>
  <div id="collapse19" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Migrate Cardholders Password</a></li>
        <li><a >• Migration Tool Audit Log Report</a> </li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse20" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>External Authentication for Cardholders</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse20" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>External Authentication for Cardholders</p>
  </div>
  <div id="collapse20" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Configure or Associate External Authentication</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="accordion">
  <div class="mainHeader" *ngIf="expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse21" (click)="collapse()"><img
        src="../../assets/minus.gif"></a>
    <p>IRIS</p>
  </div>
  <div class="mainHeader" *ngIf="!expanded" id="MenuItem">
    <a class="card-link" data-toggle="collapse" href="#collapse21" (click)="expand()"><img
        src="../../assets/plus.gif"></a>
    <p>IRIS</p>
  </div>
  <div id="collapse21" class="collapse show" data-parent="#accordion">
    <div>
      <ul>
        <li><a >• Configuration Tool</a></li>
      </ul>
    </div>
  </div>
</div>

<p class="endofNav"> * implies Dual Control</p>