<form [formGroup]="resetPasswordForm" (ngsubmit)="resetPassword()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Reset Global Administrator Password</div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">Select a User ID and click <b> Submit</b>.
          </div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">User ID </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="Admins" (change)="changeAdmin($event.target.selectedIndex)">
            <option value="0" selected="">--</option>
            <option *ngFor="let admin of admins" [value]="admin.name">{{admin.name}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>

  <br>

  <div id="head" *ngIf="changeId">Enter twice the new password and a remark</div>
  <br>
  <table class="formTable" *ngIf="changeId">
    <tbody>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">New Password </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="newPassword">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="retypeNewpassword">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Remarks</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="remark">
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace" class="header" *ngIf="changeId">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif" alt="Submit" (click)="resetPassword()">
        </td>
        <td class="space">&nbsp;
        </td>

        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif" alt="Cancel" (click)="cancelOperation()">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" *ngIf="changeId">
    <tbody>
      <tr>
        <td class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>