<form [formGroup]="uploadSigningCertificateForm" (ngsubmit)="uploadSigningCertificate()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Upload Signing Certificate</div>       
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">
            Please select the file to upload
          </div>
          <div class="errorMessage"></div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="100%">

          <table cellpadding="1" cellspacing="0" width="80%">
            <tbody>
              <tr>
                <!-- Issuer -->
                <td class="rightAlign" valign="middle">
                  <a href="#">Issuer:</a>
                </td>
                <td>&nbsp;</td>
                <td colspan="3" class="leftAlign" valign="top">

                  <select name="bankId" size="1" style="width: 250">
                    <option value="-1000">----------- Select Issuer Name -----------</option>
                    <option value="9">aloksbank</option>
                    <option value="23">andhrabank</option>
                    <option value="45">CAStrongAuthIssuer1</option>
                    <option value="44">CBSIssuer2</option>
                    <option value="4">citibank</option>
                    <option value="52">CollectExtendedDDNAIssuerMCUnique01</option>
                    <option value="51">CollectExtendedDDNAIssuerUnique01</option>
                    <option value="21">DU_V_P</option>
                    <option value="77">dummy</option>
                    <option value="43">GDPR_testissuer</option>
                    <option value="6">GrameenBank</option>
                    <option value="2">HDFC</option>
                    <option value="1">HSBC</option>
                    <option value="3">ICICI_India</option>
                    <option value="25">ing</option>
                    <option value="78">InnomindsIssuer</option>
                    <option value="37">IOB</option>
                    <option value="38">Issuer1</option>
                    <option value="39">Issuer2</option>
                    <option value="40">Issuer3</option>
                    <option value="19">Issuer_nopareq</option>
                    <option value="17">Issuer_NoVP</option>
                    <option value="75">KiranBank</option>
                    <option value="30">LV2_HDFC</option>
                    <option value="31">LV3_MyBank</option>
                    <option value="32">LV4_MyBank</option>
                    <option value="33">LV5_MyBank</option>
                    <option value="29">LV_HDFC</option>
                    <option value="46">MCIDIssuer1</option>
                    <option value="47">MCIDIssuer2</option>
                    <option value="48">MCIDIssuer3</option>
                    <option value="49">MCIDIssuer4</option>
                    <option value="50">MCIDIssuer5</option>
                    <option value="22">MCIDssuer</option>
                    <option value="8">NatWestBank</option>
                    <option value="16">NewHSBC</option>
                    <option value="15">NewSCB</option>
                    <option value="7">NMGB</option>
                    <option value="64">NonTwoFAIssuer10</option>
                    <option value="65">NonTwoFAIssuer11</option>
                    <option value="66">NonTwoFAIssuer12</option>
                    <option value="67">NonTwoFAIssuer13</option>
                    <option value="68">NonTwoFAIssuer14</option>
                    <option value="69">NonTwoFAIssuer15</option>
                    <option value="70">NonTwoFAIssuer16</option>
                    <option value="71">NonTwoFAIssuer17</option>
                    <option value="72">NonTwoFAIssuer18</option>
                    <option value="73">NonTwoFAIssuer19</option>
                    <option value="74">NonTwoFAIssuer20</option>
                    <option value="20">NVP_U_P</option>
                    <option value="24">pnb</option>
                    <option value="55">RAIssuer3</option>
                    <option value="56">RAIssuer4</option>
                    <option value="54">RAWithAttemptsRange</option>
                    <option value="10">RBS</option>
                    <option value="83">SC</option>
                    <option value="5">SCB</option>
                    <option value="14">scb_india</option>
                    <option value="81">Standard Charted</option>
                    <option value="18">Stiju</option>
                    <option value="41">Stiju_IML</option>
                    <option value="42">StijuGDPR_IML</option>
                    <option value="79">tempIssuer</option>
                    <option value="28">Test_CG_New2</option>
                    <option value="76">TestDummy</option>
                    <option value="26">tmb</option>
                    <option value="27">tmbml</option>
                    <option value="53">TMSWBank20</option>
                    <option value="57">TwoFAIssuer10</option>
                    <option value="58">TwoFAIssuer11</option>
                    <option value="59">TwoFAIssuer12</option>
                    <option value="60">TwoFAIssuer13</option>
                    <option value="61">TwoFAIssuer14</option>
                    <option value="62">TwoFAIssuer15</option>
                    <option value="63">TwoFAIssuer16</option>
                  </select>
                </td>
              </tr>

              <tr>
                <td height="8"></td>
              </tr>

              <tr>
                <td height="8"></td>
              </tr>

              <tr>
                <!-- Range -->
                <td class="rightAlign" valign="middle">
                  <a href="#">Range:</a>
                </td>
                <td>&nbsp;</td>
                <td colspan="3" class="leftAlign" valign="top">
                  <select name="rangeIds" multiple="multiple" size="5" style="height: 200; width: 300">
                    <option value="-1000">----------- Select Card Range -----------</option> <!-- Select -->
                  </select>
                </td>
              </tr>

              <tr>
                <td height="8"></td>
              </tr>

              <tr>
                <td height="8"></td>
              </tr>

              <tr>
                <td class="rightAlign" valign="middle"><a href="#">Select File:</a> </td>
                <td>&nbsp;</td>
                <td colspan="3" class="leftAlign" valign="top">
                  <input type="file" name="signingCertFile">
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table class = "formTable">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="uploadSigningCertificate()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class = "formTable">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>

