<form [formGroup]="createIssuerForm" (ngSubmit)="createIssuers()">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Create Issuer</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">Fill up the following parameters appropriately and click <b>Submit</b> to create an
            Issuer.<br>Then add FI Information for each Card Range.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">

    <!-- START OF ISSUER NAME -->
    <tbody>
      <tr>

        <td width="40%">
          <div class="rightAlign"><a href="#">Issuer Name</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="bankName" value="" size="25" maxlength="55">
        </td>

      </tr>
      <!-- END OF ISSUER NAME -->

      <!-- START OF COUNTRY -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Country </a> </div>
        </td>

        <td width="2%">&nbsp;</td>


        <td width="58%">
          <select formControlName="country">
            <option value="">-- --&nbsp;</option>
            <option *ngFor = "let country of countries" value={{country.countryCode}}>{{country.countryName}}</option>
          </select>
        </td>

      </tr>
      <!-- END OF COUNTRY -->

      <!-- START OF LOCALE -->
      <tr>

        <td width="40%">
          <div class="rightAlign"><a href="#">Default Locale</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="localeID">
            <option value="">-- --&nbsp;</option>
            <option *ngFor = "let locale of locales" value={{locale.localeId}}>{{locale.description}}</option>
          </select>
        </td>

      </tr>
      <!-- END OF LOCALE -->

      <!-- START OF LOCAL TIME ZONE -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Local Time Zone</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="localTimeZone">
            <!-- List of TimeZones -->
            <option value="GMT-11:00">Samoa Standard Time (GMT-11:00)</option>
            <option value="GMT-10:00">Hawaii Standard Time (GMT-10:00)</option>
            <option value="GMT-09:30">Marquesas Islands Time (GMT-09:30)</option>
            <option value="GMT-09:00">Alaska Standard Time (GMT-09:00)</option>
            <option value="GMT-08:00" selected = "">Pacific Standard Time (GMT-08:00)</option>
            <option value="GMT-07:00">Mountain Standard Time (GMT-07:00)</option>
            <option value="GMT-06:00">Central Standard Time (GMT-06:00)</option>
            <option value="GMT-05:00">Eastern Standard Time (GMT-05:00)</option>
            <option value="GMT-04:00">Eastern Daylight Time (GMT-4:00)</option>
            <option value="GMT-03:00">Argentina/Brasilia Time (GMT-03:00)</option>
            <option value="GMT">Greenwich Mean Time (GMT)</option>
            <option value="UTC">Cordinated Universal Time (GMT)</option>
            <option value="GMT+01:00">British Summer/Central European Time (GMT+01:00)</option>
            <option value="GMT+02:00">Central Africa/Eastern European Time (GMT+02:00)</option>
            <option value="GMT+03:00">East Africa Time (GMT+03:00)</option>
            <option value="GMT+03:30">Iran Standard Time (GMT+03:30)</option>
            <option value="GMT+04:00">Gulf Standard Time (GMT+04:00)</option>
            <option value="GMT+05:00">Pakistan Standard Time(GMT+5:00)</option>
            <option value="GMT+05:30">Indian Standard Time (GMT+05:30)</option>
            <option value="GMT+06:00">Bangladesh Standard Time (GMT+06:00)</option>
            <option value="GMT+07:00">Vietnam Standard Time (GMT+07:00)</option>
            <option value="GMT+08:00">China Standard Time (GMT+08:00)</option>
            <option value="GMT+09:00">Japan Standard Time (GMT+09:00)</option>
            <option value="GMT+09:30">Australian Central Standard Time (GMT+09:30)</option>
            <option value="GMT+10:00">Australian Eastern Standard Time (GMT+10:00)</option>
            <option value="GMT+11:00">Solomon Islands Time (GMT+11:00)</option>
            <option value="GMT+12:00">New Zealand Standard Time (GMT+12:00)</option>

          </select>
        </td>
      </tr>
      <!-- END OF LOCAL TIME ZONE -->

      <!-- START OF CUSTOMER ID -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Customer ID</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="customerId" value="" size="25" maxlength="25">
        </td>
      </tr>
      <!-- END OF CUSTOMER ID -->

      <!-- START OF ISSUER DIRECTORY -->
      <tr>

        <td width="40%">
          <div class="rightAlign"><a href="#">ES Issuer Directory </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="bankDirName" value="" size="25" maxlength="390">
        </td>

      </tr>
      <!-- END OF ISSUER DIRECTORY -->


      <!-- START OF ISSUER DISPLAY NAME //XFB-138: Issuer Display Name-->
      <tr>

        <td width="40%">
          <div class="rightAlign"><a href="#">Issuer Display Name</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="issuerDisplayName" value="" size="25" maxlength="1024">
        </td>

      </tr>
      <!-- END OF ISSUER DISPLAY NAME -->

      <!-- START OF ISSUER ENCRYPTION KEY -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Encryption Key </a></div>
        </td>
        <td width="2%">&nbsp;</td>

        <td width="58%">
          <input type="text" formControlName="encryptionKey" value="" size="25" maxlength="25">
        </td>

      </tr>
      <!-- END OF ISSUER ENCRYPTION KEY -->



      <!-- START OF DU PASS PHRASE -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">DU Passphrase </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="password" formControlName="uploadKey" value="" size="25" maxlength="23" autocomplete="off">
          <input type="hidden" formControlName="uploadKeyHidden" value="" size="25" maxlength="23" autocomplete="off">
        </td>
      </tr>
      <!-- END OF DU PASS PHRASE -->

      <!-- START OF RETYPE DU PASS PHRASE -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Re-type DU Passphrase </a>
          </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="password" formControlName="retypeUploadKey" value="" size="25" maxlength="23" autocomplete="off">
        </td>
      </tr>
      <!-- END OF RETYPE DU PASS PHRASE -->

      <!-- START OF USER ENCODING -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">User Encoding </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="userEncoding">
            <option value="ISO-8859-1" selected="">ISO-8859-1</option>
            <option value="BIG5">BIG5</option>
            <option value="SJIS">SJIS</option>
            <option value="EUC_KR">EUC_KR</option>
            <option value="UTF-8">UTF-8</option>
          </select>
        </td>
      </tr>
      <!-- END OF USER ENCODING -->

      <!-- START OF CVVKEYA -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">CVV/CVC2 Key A </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="cvvKeyA" value="" size="40" maxlength="40">
        </td>
      </tr>
      <!-- END OF CVVKEYA -->

      <!-- START OF CVVKEYB -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">CVV/CVC2 Key B </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="cvvKeyB" value="" size="40" maxlength="40">
        </td>
      </tr>
      <!-- END OF CVVKEYB -->

      <!-- START OF BANKKEYMODULE -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Bank Key Module </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="bankKeyModule">

            <option value="S/W">S/W</option>
            <option value="nfast">NCipher - NShield</option>
            <option value="cca">IBM Crypto - cca</option>
          </select>
        </td>
      </tr>
      <!-- END OF BANKKEYMODULE -->

      <!-- START OF AUTHRESULTKEYMODULE -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Authentication Key Module
            </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="arKeyModule">

            <option value="S/W">S/W</option>
            <option value="spp">NCipher - PayShield</option>
            <option value="zaxus">Thales HSM</option>
            <option value="ibm4758">IBM Crypto - ibm4758</option>
          </select>
        </td>
      </tr>
      <!-- END OF AUTHRESULTKEYMODULE -->

      <!-- START OF PROCESSORNAME -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Processor Name </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="processorName" value="" size="25" maxlength="128">
        </td>
      </tr>
      <!-- END OF PROCESSORNAME -->

      <!-- START OF SUBPROCESSORNAME -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Sub Processor Name </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="subProcessorName" value="" size="25" maxlength="128">
        </td>
      </tr>
      <!-- END OF SUBPROCESSORNAME -->

      <!-- START OF PROCESSORDATA -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Processor Data </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="processorData" value="" size="25" maxlength="128">
        </td>
      </tr>
      <!-- END OF PROCESSORDATA -->

      <!-- START OF PROCESSORINFO -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Processor Info </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="text" formControlName="processorInfo" value="" size="25" maxlength="128">
        </td>
      </tr>
      <!-- END OF PROCESSORINFO -->

      <!-- START OF CVVKEYIND -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">CVV Key Indicator </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="CVVKEYIND">
            <option value="">Not Configured</option>
            <option value="01">01</option>
            <option value="02">02</option>
          </select>
        </td>
      </tr>
      <!-- END OF CVVKEYIND -->


      <!-- START OF DONOTPROMPTBEHAVIOR -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Do Not Prompt Behavior </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="DoNotPromptBehavior">

            <option value="1">N in VERes</option>
            <option value="2">Attempts PARes</option>
          </select>
        </td>
      </tr>
      <!-- END OF DONOTPROMPTBEHAVIOR -->

      <!-- START OF ENROLLMENT LOCALES -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Locales Supported</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <select formControlName="enrollmentLocales" multiple="" size="4">
            <option value="">-- --&nbsp;</option>
            <option *ngFor = "let locale of locales" value={{locale.localeId}}>{{locale.description}}</option>
          </select>
        </td>
      </tr>
      <!-- END OF ENROLLMENT LOCALES -->

      <!-- START OF USERID ENABLED -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">User ID Supported </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">


          <input type="checkbox" formControlName="userIdEnabled" value="1">
        </td>
      </tr>
      <!-- END OF USERID ENABLED -->

      <!-- START OF TWO-STEP LOGIN ENABLED -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Two-Step Login Enabled </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">
          <input type="checkbox" formControlName="twoStepLoginEnabled" value="1">
        </td>
      </tr>
      <!-- END OF TWO-STEP LOGIN ENABLED -->

      <!-- START OF DUAL AUTH REQUIRED -->
      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Dual Auth Required
              At Tx Commit </a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="58%">


          <input type="CHECKBOX" formControlName="dualAuthRequiredAtCommit" value="1">
        </td>
      </tr>


      <tr>
        <td width="15%">&nbsp;</td>
      </tr>


      <!-- END OF DUAL AUTH REQUIRED -->








      <tr>
        <td width="40%">
          <div class="rightAlign"><a href="#">Admin Contact Details Collection</a></div>
        </td>

        <td width="2%">&nbsp;</td>

        <td width="56%">

          <select id="collectAdminContactDetails" formControlName="collectAdminContactDetails">
            <option value="0">Do not collect.</option>
            <option value="1">Only Email Address</option>
            <option value="2">Only Phone No.</option>
            <option value="3">Both Email Address and Phone No.</option>
          </select>


        </td>
        <td width="15%">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <br><br>
  <!-- <table class = "formTable">
    <tbody>
      <tr>
        <td class="rightAlign" width="45%"><a href="#">List Of Global Admins</a>
        </td>
        <td width="10%"></td>
        <td class="leftAlign" width="45%"><a href="#">List Of Selected Global Admins</a></td>
      </tr>


      <tr>
        <td class="rightAlign" width="45%">
          <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Admins" class="slt_Admins">
            <option *ngFor = "let admin of admins" value={{admin.arAdminBankPk.adminName}}>{{admin.arAdminBankPk.adminName}}</option>
          </select></td>
        <td width="10%">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign">
                  <a class="add">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign">
                  <a class="remove">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign" width="45%">
          <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selAdmins" formControlName="slt_selAdmins">
          </select>
        </td>
      </tr>
    </tbody>
  </table> -->
  <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign" width="45%"><a href="#">List Of Global Admins</a>
        </td>
        <td width="10%"></td>
        <td class="leftAlign" width="45%"><a href="#">List Of Selected Global Admins</a></td>
      </tr>
      <tr>
        <td class="rightAlign" width="45%">
          <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Admins" class="slt_Admins">
            <option *ngFor = "let admin of admins" value={{admin.arAdminBankPk.adminName}}>{{admin.arAdminBankPk.adminName}}</option>
          </select>
        </td>
        <td width="10%">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="addAdmins" (click)="addAdmins()">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a class="removeAdmins" (click)="removeAdmins()">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign" width="45%">
          <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selAdmins" formControlName="slt_selAdmins">
            <option value="{{admin}}" *ngFor="let admin of selectedAdmins">{{admin}} </option>
          </select>
        </td>
      </tr>
    </tbody>

  </table>

  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="createIssuers()">
        </td>
        <td width="2%">&nbsp;
        </td>

        
        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
