<form [formGroup]="createAdministratorForm" class="global" (ngsubmit)="createAdministrator()">

  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Create Administrator</div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <div class="description">Enter a User ID,Name, Description, a Password, check the appropriate privileges and
            click <b>Submit</b>. Password, list of countries and set of privileges are required to be input only if no template
            is selected.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
        </td>
      </tr>
    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign">
          <a href="#">Issuer</a>&nbsp;
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td class="leftAlign">
          <select formControlName="issuer" (change)="changeIssuer($event.target.selectedIndex)" [(ngModel)]="default">
            <option value="0">--</option>
            <option *ngFor = "let issuer of issuers" value="{{issuer.bankCode}}">{{issuer.bankName}}</option>
          </select></td>
        <td width="15%">&nbsp;</td>
      </tr>
      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">User ID</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="userid" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">First Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="firstName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Middle Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="middleName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Last Name</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Description</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <textarea formControlName="description" rows="5" cols="20"></textarea>
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Template ID</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="29" width="58%">
          <select formControlName="Admins" (change)="ChangeTemplate($event.target.selectedIndex)" >
            <option value="None">None</option>
            <option value="None">ICICITEMPLATE</option>
          </select>
        </td>
      </tr>

      <tr >
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Password </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="password" formControlName="password" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="password" formControlName="rePassword" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td width="15%">&nbsp;</td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="changePasswordAtFirstLogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Admin must change password at first login </a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login </a></div>
        </td>
      </tr>

      <tr>
        <td width="40%" height="17" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin" value="1">
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <div class="leftAlign"><a href="#"> Admin must update profile at login </a></div>
        </td>
      </tr>

      <tr>
        <td width="15%">&nbsp;</td>
        <td class="rightAlign">
          <div id="divTwoFactorAuthTypeLabel" style="display: none">
            <a href="#">Two-Factor Authentication Type</a>&nbsp;&nbsp;
          </div>
        </td>
        <td class="leftAlign">
          <div id="divTwoFactorAuthTypeValue" style="display: none">
            <select id="twoFactorAuthenticationType" formControlName="twoFactorAuthenticationType">
              <option value="1">CA ArcotID</option>
              <option value="2">Simple OTP</option>
            </select>
          </div>
        </td>
        <td width="15%">&nbsp;</td>
      </tr>

      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="maxValForLastPwdList">
            <option value="0" selected="">None</option>
            <option *ngFor = "let number of numbers" [value]="number">{{number}}</option>
            <!--<option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option> -->
          </select>
        </td>
      </tr>

      <tr *ngIf="issuerId">
        <td class="rightAlign">
          <a href="#"> Admin Contact Details Collection</a> &nbsp;
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td class="leftAlign">
          <select  formControlName="collectAdminContactDetails" [(ngModel)]="defaultcollectAdminContactDetails">
            <option value="0">Do not collect.</option>
            <option value="1">Only Email Address</option>
            <option value="2">Only Phone No.</option>
            <option value="3">Both Email Address and Phone No.</option>
          </select>
        </td>
        <td width="15%">&nbsp;</td>
      </tr>
    </tbody>
  </table>


  <p id="head">Action & Report Privileges for Administrator</p>
  <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
    <tbody>
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="5%"><input type="checkbox" [checked]="checked" (change)="allPrivileges($event)" formControlName="privs"></td>
        <td width="55%"><i>Select/De-Select All</i></td>
        <td width="5%"></td>
      </tr>
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="55%">&nbsp;</td>
      </tr>
      <tr *ngFor="let privilege of privileges; let i = index">
        <td width="35%">&nbsp;</td>
        <td width="5%">
          <div><input type="checkbox" name="privileges" [checked]="checked" (change)="changePrivilegesByCategory($event)"  [formControlName]="i"></div>
        </td>
        <td width="55%">{{privilege.description}}</td>
        <td width="5%"></td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" cellpadding="0" width="100%" class="header">
    <tbody>
      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>
      <tr>
        <td width="48%" height="5" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="createIssuer()">
        </td>
        <td width="2%" height="5">&nbsp;
        </td>
        <td height="5" width="50%" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
