<form [formGroup]="configureAdministratorForm" class="global" (ngsubmit)="configureAdministrator()">

  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Configure Administrator Policy</div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <div class="description">Configure the appropriate values for the Administrator parameters and click <b>
              Submit</b>.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Issuer </a></div>
        </td>
        <td width="2%"><b><i></i></b></td>
        <td>
          <b>
            <i>
              <select formControlName="issuer" (change)="changeIssuer($event.target.selectedIndex)">
                <option value="">--</option>
                <option *ngFor = "let issuerName of issuersList" value="{{issuerName.bankCode}}">{{issuerName.bankName}}</option>
              </select>
            </i>
          </b>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="formTable" *ngIf="issuerId">
    <tbody>
      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Failed Login Attempts Allowed</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign">Per Session</div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <select formControlName="MaxTriesPerSession">
            <option value="0">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option selected="" value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign">Across Sessions</div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <select formControlName="MaxTriesAcrossSession">
            <option value="-1">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option selected="" value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Password Length</a></div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>&nbsp; </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum</div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <select formControlName="MinLength">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign">Maximum</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MaxLength">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Password Format Restriction</a>
          </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>&nbsp; </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum Numeric</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MinNumeric">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum Alphabets</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MinAlphabet">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum Special Characters</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MinSpecialCharacters">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum Upper Case Alphabets</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MinUpperCaseCharacters">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign">Minimum Lower Case Alphabets</div>
        </td>
        <td width="2%">
          <div class="leftAlign"></div>
        </td>
        <td>
          <select formControlName="MinLowerCaseCharacters">
            <option selected="" value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Password Renewal Frequency</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <input type="text" formControlName="PasswordRenewalFrequency" value="60" maxlength="3" size="3">(days) </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Maximum Inactivity Period</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <input type="text" formControlName="MaxInactivityPeriod" value="60" size="3" maxlength="3">(days)
        </td>
      </tr>

      <tr>
        <td width="50%">
          <div class="rightAlign"><a href="#">Allow admin to reset password after expiry</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <input type="checkbox" formControlName="AllowPasswordReset" size="3" maxlength="3">
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a href="#">Login session timeout</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <input type="text" formControlName="loginSessionTimeout" value="0" maxlength="3" size="3">(minutes)
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a href="#">Password StorageAlgorithm</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <select formControlName="passwordStorageAlgorithm">
            <option value="0" selected="">SHA1</option>
            <option value="1">SHA2</option>
          </select>
        </td>
      </tr>


      <tr>
        <td>
          <div class="rightAlign"><a href="#">Password Change Velocity</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <input type="text" formControlName="passwordChangeVelocity" value="0" maxlength="4" size="3">(minutes)
        </td>
      </tr>

      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>


      <tr>
        <td colspan="3" class="leftAlign"><b>&nbsp;&nbsp;&nbsp;Admin Contact Details Collection Policy<br>
            <span class = "smallHeading">To update this policy, please go to update issuer link</span><br>
          </b></td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a href="">Admin Contact Details Collection</a></div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <select disabled="" formControlName="collectAdminContactDetails ">
            <option value="0" selected = "">Do not collect.</option>
            <option value="1">Only Email Address</option>
            <option value="2">Only Phone No.</option>
            <option value="3">Both Email Address and Phone No.</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign" id="divDeliveryChannelLabel">
            <a href="#"> Delivery Channel</a>
          </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td>
          <div id="divDeliveryChannelValue">
            <select disabled="" id="twoFactorDeliveryChannelType" formControlName="twoFactorDeliveryChannelType">
              <option value="0" selected = "">None</option>
              <option value="4">EMAIL and SMS</option>
              <option value="1">SMS</option>
              <option value="2">EMAIL</option>
              <option value="3">VOICE</option>
              <option value="5">EMAIL and VOICE</option>
            </select>
          </div>
        </td>
        <td width="15%">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" height="5" class="rightAlign">
          <img src="../../../assets/largesubmit.gif" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="configureAdministrator()">
        </td>
        <td width="2%" height="5">&nbsp;
        </td>
        <td height="5" width="50%" class="leftAlign">
          <img src="../../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click) = "doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>