<form [formGroup]="createIssuerAdminForm" class="global" (ngsubmit)="createIssuer()">

  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Create Issuer Administrator</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">Enter a User ID,Name, Description, a Password, check the appropriate privileges and
            click Submit. Password, list of countries and set of privileges are required to be input only if no template
            is selected.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign">
          <a href="#">Issuer</a>&nbsp;
        </td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">
          <select formControlName="issuer" (change)="changeIssuer($event.target.selectedIndex)" [(ngModel)]="default">
            <option value="0">--</option>
            <option *ngFor="let issuer of issuers" value="{{issuer.bankCode}}">{{issuer.bankName}}</option>
          </select></td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">User ID</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="userid" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">First Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="firstName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Middle Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="middleName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Last Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Description</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <textarea formControlName="description" rows="5" cols="20"></textarea>
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Template ID</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td height="29" width="58%">
          <select formControlName="Admins" (change)="ChangeTemplate($event.target.selectedIndex)">
            <option value="None">None</option>
            <option value="None">ICICITEMPLATE</option>
          </select>
        </td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Password </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="password" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Re-type Password</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="rePassword" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="changePasswordAtFirstLogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Admin must change password at first login </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Admin must update profile at login </a></div>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
        <td class="rightAlign">
          <div id="divTwoFactorAuthTypeLabel" style="display: none">
            <a href="#">Two-Factor Authentication Type</a>&nbsp;&nbsp;
          </div>
        </td>
        <td class="leftAlign">
          <div id="divTwoFactorAuthTypeValue" style="display: none">
            <select id="twoFactorAuthenticationType" formControlName="twoFactorAuthenticationType">
              <option value="1">CA ArcotID</option>
              <option value="2">Simple OTP</option>
            </select>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="maxValForLastPwdList">
            <option value="0" selected="">None</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
          </select>
        </td>
      </tr>

      <tr *ngIf="issuerId">
        <td class="rightAlign">
          <a href="#"> Admin Contact Details Collection</a> &nbsp;
        </td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">
          <select formControlName="collectAdminContactDetails" [(ngModel)]="defaultcollectAdminContactDetails">
            <option value="0">Do not collect.</option>
            <option value="1">Only Email Address</option>
            <option value="2">Only Phone No.</option>
            <option value="3">Both Email Address and Phone No.</option>
          </select>
        </td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>


  <p id="head">Action & Report Privileges for Administrator</p>
  <table class="countryspace" class="formTable">
    <tbody>
      <tr>
        <td class="inputkey">&nbsp;</td>
        <td class="space"><input type="checkbox" [checked]="checked" (change)="allPrivileges($event)"
            formControlName="privs"></td>
        <td class="inputvalue"><i>Select/De-Select All</i></td>
      </tr>
      <tr>
        <td class="inputkey">&nbsp;</td>

        <td class="space">&nbsp;</td>
        <td class="inputvalue">&nbsp;</td>
      </tr>
      <tr *ngFor="let privilege of privileges; let i = index">
        <td class="inputkey">&nbsp;</td>
        <td class="space">
          <div><input type="checkbox" name="privileges" [checked]="checked"
              (change)="changePrivilegesByCategory($event)" [formControlName]="i"></div>
        </td>
        <td class="inputvalue">{{privilege.description}}</td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" class="header">
    <tbody>
      <tr>
        <td colspan="4" >
          <hr>
        </td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="createIssuer()">
        </td>
        <td class="space">&nbsp;
        </td>
        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" ></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>