<form [formGroup]="modifyAdministratorForm" (ngsubmit)="modifyAdministrator()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Enable/Disable/Delete Administrator Account
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="10">
          <div class="description">Select a User ID, change the account status and click <b> Submit</b>.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="17">
        </td>
      </tr>
    </tbody>
  </table>
  <table class="formTable">
    <tbody>
      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Issuer </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td class="leftAlign">
          <select formControlName="issuer" (change)="changeIssuer($event.target.selectedIndex)">
            <option value="0" selected="">--</option>
            <option *ngFor="let admin of admins" [value]="admin.bankCode">{{admin.bankName}}</option>
          </select></td>
        <td width="15%">&nbsp;</td>
      </tr>
      <tr *ngIf="issuerId">
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">User ID </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="Admins" (change)="changeAdmin($event.target.selectedIndex)">
            <option value="0" selected="">--</option>
            <option *ngFor="let user of users" [value]="user">{{user}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div id="head" *ngIf="adminId && issuerId">Enter a remark for changing account status</div>
  <br>
  <table class="formTable" *ngIf="adminId && issuerId">
    <tbody>
      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Status </a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <select formControlName="status" (change)="deleteConfirmation(event.target.index)">
            <option value="1" selected="">Active</option>
            <option value="2">Inactive</option>
            <option value="3">Delete</option>
          </select>
        </td>
      </tr>
      <tr>
        <td width="40%" height="17">
          <div class="rightAlign"><a href="#">Remarks</a></div>
        </td>
        <td width="2%" height="17">&nbsp;</td>
        <td height="17" width="58%">
          <input type="text" formControlName="remark" value="{{adminData.remarks}}" size="25" maxlength="55">
        </td>
      </tr>
    </tbody>
  </table>
  <table cellspacing="0" cellpadding="0" width="100%" class="header" *ngIf="adminId && issuerId">
    <tbody>
      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>
      <tr>
        <td width="48%" height="5" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="deleteConfirmation()">
        </td>
        <td width="2%" height="5">&nbsp;
        </td>
        <td height="5" width="50%" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" cellpadding="0" width="100%" *ngIf="adminId && issuerId">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>