<form [formGroup]="updateFIinformationForm" (ngsubmit)="updateFIinformation()" class="global">
    <table class="header">
      <tbody>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="pageTitle">Update FI Information</div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div class="description">Update Card Range parameters for Issuer. Select Issuer and Card Range.</div>
            <div class="errorMessage"></div>
            <div class="successMessage"></div>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="3">
          </td>
        </tr>
      </tbody>
    </table>
  
    <table class="formTable">
      <tbody>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td class="rightAlign"><a href="#">Issuer</a> </td>
  
          <td> </td>
          <td>
            <select formControlName="bankName">
              <option [ngValue]="null"> ----------- Select Issuer Name ----------- </option>
  
              <option value="9">aloksbank</option>
  
              <option value="23">andhrabank</option>
  
              <option value="45">CAStrongAuthIssuer1</option>
  
              <option value="44">CBSIssuer2</option>
  
              <option value="4">citibank</option>
  
              <option value="52">CollectExtendedDDNAIssuerMCUnique01</option>
  
              <option value="51">CollectExtendedDDNAIssuerUnique01</option>
  
              <option value="21">DU_V_P</option>
  
              <option value="77">dummy</option>
  
              <option value="43">GDPR_testissuer</option>
  
              <option value="6">GrameenBank</option>
  
              <option value="2">HDFC</option>
  
              <option value="1">HSBC</option>
  
              <option value="3">ICICI_India</option>
  
              <option value="25">ing</option>
  
              <option value="78">InnomindsIssuer</option>
  
              <option value="37">IOB</option>
  
              <option value="38">Issuer1</option>
  
              <option value="39">Issuer2</option>
  
              <option value="40">Issuer3</option>
  
              <option value="19">Issuer_nopareq</option>
  
              <option value="17">Issuer_NoVP</option>
  
              <option value="75">KiranBank</option>
  
              <option value="30">LV2_HDFC</option>
  
              <option value="31">LV3_MyBank</option>
  
              <option value="32">LV4_MyBank</option>
  
              <option value="33">LV5_MyBank</option>
  
              <option value="29">LV_HDFC</option>
  
              <option value="46">MCIDIssuer1</option>
  
              <option value="47">MCIDIssuer2</option>
  
              <option value="48">MCIDIssuer3</option>
  
              <option value="49">MCIDIssuer4</option>
  
              <option value="50">MCIDIssuer5</option>
  
              <option value="22">MCIDssuer</option>
  
              <option value="8">NatWestBank</option>
  
              <option value="16">NewHSBC</option>
  
              <option value="15">NewSCB</option>
  
              <option value="7">NMGB</option>
  
              <option value="64">NonTwoFAIssuer10</option>
  
              <option value="65">NonTwoFAIssuer11</option>
  
              <option value="66">NonTwoFAIssuer12</option>
  
              <option value="67">NonTwoFAIssuer13</option>
  
              <option value="68">NonTwoFAIssuer14</option>
  
              <option value="69">NonTwoFAIssuer15</option>
  
              <option value="70">NonTwoFAIssuer16</option>
  
              <option value="71">NonTwoFAIssuer17</option>
  
              <option value="72">NonTwoFAIssuer18</option>
  
              <option value="73">NonTwoFAIssuer19</option>
  
              <option value="74">NonTwoFAIssuer20</option>
  
              <option value="20">NVP_U_P</option>
  
              <option value="24">pnb</option>
  
              <option value="55">RAIssuer3</option>
  
              <option value="56">RAIssuer4</option>
  
              <option value="54">RAWithAttemptsRange</option>
  
              <option value="10">RBS</option>
  
              <option value="5">SCB</option>
  
              <option value="14">scb_india</option>
  
              <option value="18">Stiju</option>
  
              <option value="41">Stiju_IML</option>
  
              <option value="42">StijuGDPR_IML</option>
  
              <option value="79">tempIssuer</option>
  
              <option value="28">Test_CG_New2</option>
  
              <option value="76">TestDummy</option>
  
              <option value="26">tmb</option>
  
              <option value="27">tmbml</option>
  
              <option value="53">TMSWBank20</option>
  
              <option value="57">TwoFAIssuer10</option>
  
              <option value="58">TwoFAIssuer11</option>
  
              <option value="59">TwoFAIssuer12</option>
  
              <option value="60">TwoFAIssuer13</option>
  
              <option value="61">TwoFAIssuer14</option>
  
              <option value="62">TwoFAIssuer15</option>
  
              <option value="63">TwoFAIssuer16</option>
  
            </select>
          </td>
  
  
          <td> </td>
          <td class="rightAlign"><a href="#">Card Range
              Name</a> </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
            <input type="text" formControlName="CardRangeName" size="25" maxlength="65" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
        <tr>
          <td width="14"> </td>
          <td width="140" alignclass="rightAlign"> <a href="#">Add
              to Range Group</a> </td>
  
          <td width="5">&nbsp;</td>
          <td width="208">
            <select formControlName="cardRangeGroup">
              <option value="-1" selected> None</option>
  
              <option value="13">
                SCB_RangeGroup</option>
  
              <option value="0" selected=""> Default Group</option>
  
              <option value="15">
                GrameenGroup</option>
  
              <option value="3">
                ICICI_RangeGroup</option>
  
              <option value="17">
                NatWestGroup</option>
  
              <option value="45">
                LV3_Range_Group</option>
  
              <option value="53">
                MPNARangeGroup2</option>
  
              <option value="55">
                MCIDRangeGroup5</option>
  
              <option value="68">
                ARangeGroup9</option>
  
  
            </select>
          </td>
  
          <td width="17"> </td>
          <td width="152" class="rightAlign">&nbsp;</td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
            &nbsp;
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
  
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"><a href="#">Business
              ID</a> </td>
  
          <td width="5"> </td>
  
          <td width="208">
            <input type="text" formControlName="fiBusinessID" size="25" maxlength="8" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign"><a href="#">FI Bin</a> </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
            <input type="text" formControlName="fiBIN" size="25" maxlength="6" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"> <a href="#">Card Type</a>
          </td>
          <td width="5">&nbsp;</td>
  
          <td width="210">
            <select formControlName="cardType">
              <option value="1" selected="">VISA Credit Card</option>
              <option value="2">VISA Debit Card</option>
              <option value="3">MasterCard Credit Card</option>
              <option value="4">MasterCard Debit Card</option>
              <option value="5">AXP Credit Card</option>
              <option value="6">AXP PrePaid Card</option>
              <option value="7">AXP Proprietary</option>
  
            </select>
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign"><a href="#">PAN Length</a>
          </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
  
            <select formControlName="panLength">
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16" selected="">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
            </select>
  
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">BeginRange</a>
          </td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
  
            <input type="text" formControlName="beginRange" size="25" maxlength="19" value="">
  
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign"><a href="#">End Range</a>
          </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
  
            <input type="text" formControlName="endRange" size="25" maxlength="19" value="">
  
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
  
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"><a href="#">Term
              Policy Version</a></td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <select formControlName="termPolicyVersion1">
              <option value="1" selected=""> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5"> 5 </option>
              <option value="6"> 6 </option>
              <option value="7"> 7 </option>
              <option value="8"> 8 </option>
              <option value="9"> 9 </option>
            </select>
            .
            <select formControlName="termPolicyVersion2">
              <option value="0" selected=""> 0 </option>
              <option value="1"> 1 </option>
              <option value="2"> 2 </option>
              <option value="3"> 3 </option>
              <option value="4"> 4 </option>
              <option value="5"> 5 </option>
              <option value="6"> 6 </option>
              <option value="7"> 7 </option>
              <option value="8"> 8 </option>
              <option value="9"> 9 </option>
            </select>
  
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign"> <a href="#">Mobile
              Enabled</a></td>
  
          <td width="6"> </td>
  
          <td width="210">
            <select formControlName="mobileEnabled">
              <option value="1" selected="">Yes</option>
              <option value="0">No</option>
              <option value="2">Ask</option>
            </select>
  
          </td>
  
          <td width="15"> </td>
        </tr>
  
        <!-- START OF KEY modules-->
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">Signing Key Module</a>
          </td>
          <td width="5">&nbsp;</td>
  
          <td width="210">
            <select formControlName="signingKeyModule">
              <!-- Below line Added by Goutama, mylgo01, to fix, DE313623-->
              <option value="S/W" selected="">-- --&nbsp;</option>
              <option value="nfast">NCipher - NShield
              </option>
              <option value="cca">IBM Crypto - cca
              </option>
            </select>
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">Authentication Key Module</a>
          </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
            <select formControlName="authResultKeyModule">
              <!--  Added S/W by Goutama to fix the defect, DE313623 -->
              <option value="S/W" selected="">None
              </option>
              <option value="spp">NCipher - PayShield
              </option>
              <option value="zaxus">Thales HSM
              </option>
              <option value="ibm4758">IBM Crypto - ibm4758
              </option>
            </select>
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">Chip KeyModule</a>
          </td>
          <td width="5">&nbsp;</td>
  
          <td width="210">
            <select formControlName="chipKeyModule">
              <option value="" selected="">None
              </option>
              <option value="nfast">NCipher - PayShield
              </option>
              <option value="zaxus">Thales HSM
              </option>
            </select>
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">AAVAlgorithm</a>
          </td>
          <td width="6">&nbsp;</td>
  
          <td width="210">
            <select formControlName="AAVAlgorithm">
              <option value="-1" selected="">None
              </option>
              <option value="0">HMAC
              </option>
              <option value="8">CVC2
              </option>
            </select>
          </td>
  
          <td width="15" colspan="5">&nbsp;</td>
        </tr>
  
        <!-- END OF KEY modules -->
  
        <!-- START OF MASTERCARD KEY ID AND KEY ALIAS -->
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">SecureCode KeyID</a>
          </td>
          <td width="5">&nbsp;</td>
  
          <td width="210">
            <select formControlName="mcKeyID">
              <option value="0" selected="">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
            </select>
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">SecureCodeKey Alias</a>
          </td>
  
          <td width="6">&nbsp;</td>
  
          <td width="210">
            <input type="text" formControlName="mcKeyAlias" size="25" maxlength="55" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
        <!-- END OF MASTERCARD KEY ID AND KEY ALIAS -->
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td colspan="7">
            <hr>
          </td>
          <td width="15">&nbsp;</td>
        </tr>
  
        <tr>
  
  
        </tr>
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">CAP Logo(Top Right)</a>
          </td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <input type="text" formControlName="brandingURL1" size="25" maxlength="100" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">CAP Logo(Top Left)</a>
          </td>
  
          <td width="6">&nbsp; </td>
  
          <td width="210">
            <input type="text" formControlName="brandingURL2" size="25" maxlength="100" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">ACS URL 1</a>
          </td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <input type="text" formControlName="acsURL1" size="25" maxlength="100" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">ACS URL 2</a>
          </td>
  
          <td width="6">&nbsp; </td>
  
          <td width="210">
            <input type="text" formControlName="acsURL2" size="25" maxlength="100" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"> <a href="#">ACS URL 3</a>
          </td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <input type="text" formControlName="acsURL3" size="25" maxlength="100" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152" class="rightAlign"><a href="#">ACS URL 4</a>
          </td>
  
          <td width="6">&nbsp; </td>
  
          <td width="210">
            <input type="text" formControlName="acsURL4" size="25" maxlength="100" value="">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"> <a href="#">ACS URL 5</a>
          </td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <input type="text" formControlName="acsURL5" size="25" maxlength="100" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152"> </td>
  
          <td width="6">&nbsp; </td>
  
          <td width="210">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"> <a href="#">ACSURL Parameters</a></td>
  
          <td width="5">&nbsp;</td>
  
          <td width="208">
            <input type="text" formControlName="CAPURLParameters" size="25" maxlength="1024" value="">
          </td>
  
          <td width="17"> </td>
  
          <td width="152"> </td>
  
          <td width="6">&nbsp; </td>
  
          <td width="210">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
        <tr>
  
          <td width="14">&nbsp;</td>
  
          <td width="120" class="rightAlign">
            <a href="#">SigningCertificate File</a>
          </td>
          <td width="5">&nbsp;</td>
          <td colspan="1">
            <input type="file" formControlName="signingCertFile" size="25" value="">
  
          </td>
  
          <td width="6"> </td>
  
          <td width="120" class="rightAlign">
            <a href="#">ReceiptServer URL</a>
          </td>
          <td width="5">&nbsp;</td>
          <td width="210">
            <input type="text" formControlName="ahsReceiptURL" size="25" maxlength="100" value="">
          </td>
          <td width="15"> </td>
        </tr>
  
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <tr>
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">Authentication Options</a> </td>
          <td width="5"> </td>
          <td width="208">
            <input type="checkbox" formControlName="authSelect" value="checkbox" checked="">
            Select
            <input type="checkbox" formControlName="authFallback" value="checkbox">
            Fallback </td>
          <td width="17"> </td>
          <td width="152" class="rightAlign">
            <a href="#">Max AuthTries</a>
          </td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <select formControlName="maxAuthTries">
  
              <option value="1">1</option>
  
              <option value="2">2</option>
  
              <option value="3" selected="">3</option>
  
              <option value="4">4</option>
  
              <option value="5">5</option>
  
              <option value="6">6</option>
  
              <option value="7">7</option>
  
              <option value="8">8</option>
  
              <option value="9">9</option>
  
              <option value="10">10</option>
  
            </select>
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
        <tr>
          <td>&nbsp;</td>
        </tr>
  
        <tr>
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">Authentication Priority</a>
          </td>
          <td width="5"> </td>
          <td width="208">
            <select formControlName="authPriority">
              <option value="" selected="">None</option>
              <option value="2;1">Chip Card, Core</option>
              <option value="1;2">Core, Chip Card</option>
  
            </select>
          </td>
          <td width="17"> </td>
          <td width="152" class="rightAlign">
            <a href="#">Max Auth Tries Across Sessions</a>
          </td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <input type="checkbox" formControlName="nStrikesAcrossSessions" value="1">
          </td>
  
          <td width="15"> </td>
  
        </tr>
  
  
        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td width="14">&nbsp;</td>
          <td  width="152">
            <div class="rightAlign">
              <a href="#" >Mobile OTP Enabled</a>
            </div>
          </td>
          <td  width="5"> </td>
          <td  width="152">
            <input id="arcotOtpEnabled" type="checkbox" name="arcotOtpEnabled" value="1" checked="" disabled="">
          </td>
          <td width="17" > </td>
          <td width="152"  class="rightAlign">
            <a href="#" >Max AuthTries For Auto FYP</a>
          </td>
          <td width="6" ></td>
          <td width="210" >
            <select name="maxAuthTriesForFYP">
              <option value="0" selected="">0</option>

              <option value="1">1</option>

              <option value="2">2</option>

              <option value="3">3</option>

              <option value="4">4</option>

              <option value="5">5</option>

              <option value="6">6</option>

              <option value="7">7</option>

              <option value="8">8</option>

              <option value="9">9</option>

            </select>
          </td>
          <td width="15" >&nbsp;</td>
        </tr>


        <!-- <tr>
          <td width="14">&nbsp;</td>
          <td width="152">
            <div class="rightAlign">
  
            </div>
          </td>
          <td width="5"> </td>
          <td width="152">
  
          </td>
          <td width="17"> </td>
  
          <td width="152" class="rightAlign">
            <a href="#">Max Auth Tries For Auto FYP</a></td>
          <td width="6"></td>
          <td width="210">
            <select formControlName="maxAuthTriesForFYP">
  
              <option value="0" selected="">0</option>
  
              <option value="1">1</option>
  
              <option value="2">2</option>
  
              <option value="3">3</option>
  
              <option value="4">4</option>
  
              <option value="5">5</option>
  
              <option value="6">6</option>
  
              <option value="7">7</option>
  
              <option value="8">8</option>
  
              <option value="9">9</option>
  
            </select>
          </td>
          <td width="15">&nbsp;</td>
        </tr> -->
  
        <!-- CHIP CARD AND PLUGIN URL-->
        <tr>
          <td width="14">&nbsp;</td>
          <td width="140" class="rightAlign"><a href="#">Chip Card</a>
          </td>
          <td width="5"> </td>
          <td width="208">
            <input type="checkbox" formControlName="authMethod" value="1">
          </td>
          <td width="17"> </td>
          <td width="152" class="rightAlign"><a href="#">Plugin URL</a>
          </td>
          <td width="6">&nbsp;</td>
          <td width="208">
            <input type="text" formControlName="pluginURL" size="25" maxlength="100" value="">
          </td>
          <td width="15">&nbsp;</td>
        </tr>
  
        <!--SMART ACCESS AND PLUGIN NAME-->
  
        <tr>
          <td width="14">&nbsp;</td>
          <td width="152" class="rightAlign"><a href="#">Smart Access Required</a></td>
          <td width="5"> </td>
          <td width="208">
            <input type="checkbox" formControlName="eAccess" value="1">
          </td>
          <td width="17"> </td>
          <td width="152" class="rightAlign"><a href="#">Plugin Name</a></td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <input type="text" formControlName="pluginName" size="25" maxlength="100" value="">
          </td>
          <td width="15">&nbsp;</td>
  
        </tr>
        <!--HSM VARIANT AND PLUGIN VERSION-->
        <tr>
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign"> <a href="#">HSM Variant</a> </td>
          <td width="5"> </td>
          <td width="208">
            <input type="text" formControlName="hsmVariant" size="25" maxlength="55" value="">
          </td>
          <td width="17"> </td>
          <td width="152" class="rightAlign"><a href="#">Plugin Version</a></td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <input type="text" formControlName="pluginVersion" size="25" maxlength="20" value="">
          </td>
          <td width="15"> </td>
        </tr>
  
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <!--KEY A and KEY B begin-->
        <tr>
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">CVV/CVC2 Key A</a>
          </td>
          <td width="5"> </td>
          <td width="208">
            <input type="text" formControlName="cvvKeyA" size="40" maxlength="40" value="">
          </td>
          <td width="17"> </td>
          <td width="140" class="rightAlign">
            <a href="#">CVV/CVC2 Key B</a>
          </td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <input type="text" formControlName="cvvKeyB" size="40" maxlength="40" value="">
          </td>
          <td width="15"> </td>
        </tr>
        <!--KEY A and KEY B end-->
  
        <!--CVV Key Indicator begin-->
        <tr>
          <td width="14">&nbsp;</td>
  
          <td width="140" class="rightAlign">
            <a href="#">CVV Key Indicator</a>
          </td>
          <td width="5"> </td>
          <td width="208">
            <input type="text" formControlName="CVVKEYIND" size="2" maxlength="2" value="">&nbsp;&nbsp;(01-99)
          </td>
          <td width="17"> </td>
  
          <td width="140" class="rightAlign">
            <a href="#">Password Change Velocity</a></td>
          <td width="6"></td>
          <td width="50">
            <input type="text" formControlName="passwordChangeVelocity" size="5" maxlength="5" value="0">&nbsp;mins.
          </td>
  
          <td width="10">
  
          </td>
          <td width="15">&nbsp;</td>
        </tr>
  
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <!--CVV Key Indicator end-->
  
        <!-- Password Change Velocity begin-->
  
  
  
        <!-- Password Change Velocity end-->
  
  
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
  
        <tr>
          <td width="14">&nbsp;</td>
          <td colspan="7">
            <hr>
          </td>
          <td width="15">&nbsp;</td>
        </tr>
        <tr>
          <td colspan="9">&nbsp;</td>
        </tr>
  
        <!--ENROLL OPTIONS AND MAX DECLINES-->
        <tr>
          <td width="14">&nbsp;</td>
          <td width="152" class="rightAlign">
            <a href="#">ADS Option</a>
          </td>
          <td width="5"> </td>
          <td width="208">
            <select formControlName="enrollOption">
              <option value="0">No ADS</option>
              <option value="1">Attempts Processing</option>
              <option value="7">Opt-In - Cardholder not Uploaded</option>
              <option value="2">Opt-In - Cardholder Uploaded</option>
              <option value="70">Issuer Activation - Cardholder not Uploaded</option>
              <option value="20">Issuer Activation - Cardholder Uploaded</option>
            </select>
            <input type="hidden" formControlName="ActualEnrollOption" value="0">
            <input type="hidden" formControlName="ActualMaxWelcome" value="0">
            <input type="hidden" formControlName="ActualMaxDecline" value="0">
          </td>
          <td width="5"> </td>
  
          <td width="140" class="rightAlign"><a href="#">Attempts in Backup mode</a> </td>
  
          <td width="5">&nbsp;</td>
          <td width="208">
            <input type="checkbox" formControlName="backupattempts" value="2" disabled="">
          </td>
        </tr>
  
        <!--MaxWelcomes-->
        <tr>
          <td width="17"> </td>
          <td width="152" class="rightAlign"><a href="#">Max
              Declines</a></td>
          <td width="6">&nbsp;</td>
          <td width="210">
            <input type="text" formControlName="maxDeclines" size="25" maxlength="32" value="" disabled="">
          </td>
  
  
          <!--VE Logging-->
          <td width="5"> </td>
  
          <td width="140" class="rightAlign"><a href="#">Enable VE Logging</a> </td>
  
          <td width="5">&nbsp;</td>
          <td width="208">
            <input type="checkbox" formControlName="velogging" value="1">
          </td>
  
          <td width="17"> </td>
          <td width="152"> </td>
          <td width="6">&nbsp; </td>
          <td width="210">
          </td>
  
          <td width="15">&nbsp;</td>
        </tr>
  
        <!-- XFB-135 : Perform Attempts Processing when card holder exceeds max declines -->
  
        <tr>
          <td width="14">&nbsp;</td>
          <td width="140" class="rightAlign"> <a href="#">Max Welcome</a></td>
          <td width="5">&nbsp;</td>
          <td width="208">
            <input type="text" formControlName="maxWelcome" size="25" maxlength="32" value="" disabled="">
          </td>
          <td colspan="5">
            &nbsp;<a href="#">Enable Attempts after MaxDeclines</a>
            &nbsp;<input type="checkbox" formControlName="EnableAttemptsAfterMaxDeclines" disabled="">
          </td>
        </tr>
        <!-- End of XFB-135 -->
  
        <!--  Start PSD2 Configuration -->
  
        <tr>
          <td colspan="9">
            <hr>
          </td>
        </tr>
        <tr>
          <td colspan="9" class="leftAlign">&nbsp;&nbsp;&nbsp;<b>
              <table class="formTable">
                <tbody>
                  <tr>
                    <td>&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <hr>
                    </td>
                  </tr>
                  <tr>
                    <td width="48%" class="rightAlign">
                      <img name="next" src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="updateFIinformation()">
                    </td>
                    <td width="2%">&nbsp;
                    </td>
                    <td width="50%" class="leftAlign">
                      <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <hr>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="3">
                    </td>
                  </tr>
                </tbody>
              </table>
            </b></td>
        </tr>
      </tbody>
    </table>
  </form>
