<form [formGroup]="addIssuerCustomizationForm" (ngsubmit)="addIssuerCustomization()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Customize ACS-CAP Template</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">To customize ACS-CAP template, select an Issuer, card range, the locale to customize,
            specify a folder name where ACS-CAP templates are kept and choose the device category. Select User Agent and
            Accept String also for a mobile device.</div>
          <div class="errorMessage"></div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class = "formTable">

    <!-- START OF ISSUER -->
    <tbody>
      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">Issuer Name</a></div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"> <b><i>
              <select name="bankName">
                <option value="-1" selected="">--</option>
                <option value="9">aloksbank</option>
                <option value="23">andhrabank</option>
                <option value="45">CAStrongAuthIssuer1</option>
                <option value="44">CBSIssuer2</option>
                <option value="4">citibank</option>
                <option value="52">CollectExtendedDDNAIssuerMCUnique01</option>
                <option value="51">CollectExtendedDDNAIssuerUnique01</option>
                <option value="21">DU_V_P</option>
                <option value="77">dummy</option>
                <option value="43">GDPR_testissuer</option>
                <option value="6">GrameenBank</option>
                <option value="2">HDFC</option>
                <option value="1">HSBC</option>
                <option value="3">ICICI_India</option>
                <option value="25">ing</option>
                <option value="78">InnomindsIssuer</option>
                <option value="37">IOB</option>
                <option value="38">Issuer1</option>
                <option value="39">Issuer2</option>
                <option value="40">Issuer3</option>
                <option value="19">Issuer_nopareq</option>
                <option value="17">Issuer_NoVP</option>
                <option value="75">KiranBank</option>
                <option value="30">LV2_HDFC</option>
                <option value="31">LV3_MyBank</option>
                <option value="32">LV4_MyBank</option>
                <option value="33">LV5_MyBank</option>
                <option value="29">LV_HDFC</option>
                <option value="46">MCIDIssuer1</option>
                <option value="47">MCIDIssuer2</option>
                <option value="48">MCIDIssuer3</option>
                <option value="49">MCIDIssuer4</option>
                <option value="50">MCIDIssuer5</option>
                <option value="22">MCIDssuer</option>
                <option value="8">NatWestBank</option>
                <option value="16">NewHSBC</option>
                <option value="15">NewSCB</option>
                <option value="7">NMGB</option>
                <option value="64">NonTwoFAIssuer10</option>
                <option value="65">NonTwoFAIssuer11</option>
                <option value="66">NonTwoFAIssuer12</option>
                <option value="67">NonTwoFAIssuer13</option>
                <option value="68">NonTwoFAIssuer14</option>
                <option value="69">NonTwoFAIssuer15</option>
                <option value="70">NonTwoFAIssuer16</option>
                <option value="71">NonTwoFAIssuer17</option>
                <option value="72">NonTwoFAIssuer18</option>
                <option value="73">NonTwoFAIssuer19</option>
                <option value="74">NonTwoFAIssuer20</option>
                <option value="20">NVP_U_P</option>
                <option value="24">pnb</option>
                <option value="55">RAIssuer3</option>
                <option value="56">RAIssuer4</option>
                <option value="54">RAWithAttemptsRange</option>
                <option value="10">RBS</option>
                <option value="83">SC</option>
                <option value="5">SCB</option>
                <option value="14">scb_india</option>
                <option value="81">Standard Charted</option>
                <option value="18">Stiju</option>
                <option value="41">Stiju_IML</option>
                <option value="42">StijuGDPR_IML</option>
                <option value="79">tempIssuer</option>
                <option value="28">Test_CG_New2</option>
                <option value="76">TestDummy</option>
                <option value="26">tmb</option>
                <option value="27">tmbml</option>
                <option value="53">TMSWBank20</option>
                <option value="57">TwoFAIssuer10</option>
                <option value="58">TwoFAIssuer11</option>
                <option value="59">TwoFAIssuer12</option>
                <option value="60">TwoFAIssuer13</option>
                <option value="61">TwoFAIssuer14</option>
                <option value="62">TwoFAIssuer15</option>
                <option value="63">TwoFAIssuer16</option>
              </select>
            </i></b></td>
      </tr>
      <!-- END OF ISSUER -->


      <!-- START OF RANGE GROUPS -->
      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">Range Group</a></div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"> <b><i>
              <select name="configId">


              </select>
            </i></b></td>
      </tr>
      <!-- END OF RANGE GROUPS -->

      <!-- START OF RANGES -->
      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">Card Range</a></div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"> <b><i>
              <select name="rangeID">


              </select>
            </i></b></td>
      </tr>
      <!-- END OF RANGES -->

      <!-- START OF LOCALE -->
      <tr>
        <td width="48%">
          <div class="rightAlign"><a href="#">Locale</a> </div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="50%">
          <select name="text_locale">
            <option value="-1" selected="">--</option>


          </select>
        </td>
      </tr>
      <!-- END OF LOCALE -->


      <!-- START OF Update Type -->
      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">Update Type</a></div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"> <b><i>
              <select name="updateType">

                <!-- XSS FIX -->
                <option value="-1" selected="">--</option>
              </select>
            </i></b></td>
      </tr>

      <!-- END OF Update Type -->

      <!-- START OF USERAGENT -->


      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">User Agent</a> </div>
        </td>
        <td width="2%" ><i></i></td>
        <td  width="50%"><i><b>

              <textarea rows="6" cols="50" name="userAgent" maxlength="497" disabled=""></textarea>
            </b> </i></td>
      </tr>

      <!-- END OF USERAGENT -->



      <!-- START OF Upgrade UI folder -->
      <tr>
        <td width="48%" >
          <div class="rightAlign">
            <a href="#">Is this customization forUpgraded UI or not?</a> 
          </div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"><b><i>
              <input type="checkbox" name="UpgradedUI" value="1">
            </i></b> </td>
      </tr>
      <!-- END OF Upgrade UI folder -->

      <!-- START OF FOLDER -->
      <tr></tr>
      <tr>
        <td width="48%" >
          <div class="rightAlign"><a href="#">ACS-CAP Folder Name</a> </div>
        </td>
        <td width="2%" >&nbsp;</td>
        <td  width="50%"><b><i>

              <input type="text" name="folder" size="25" maxlength="256" value="">

            </i></b> </td>
      </tr>
      <!-- END OF FOLDER -->
      <!-- 	This hidden variable is used since the ACSURL combo box is not shown and by default
          ACSURL = 1 for all rows in the table ARDEVICE. -->

      <input type="hidden" name="acsURL" size="2" maxlength="2" value="1">

    </tbody>
  </table>

  <table class = "formTable">
      <tbody>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
  
        <tr>
          <td width="48%" class="rightAlign">
            <img name="next" src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="addIssuerCustomization()">
          </td>
          <td width="2%">&nbsp;
          </td>
  
          <td width="50%" class="leftAlign">
            <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
          </td>
  
  
        </tr>
        <tr>
          <td colspan="4">
            <hr>
          </td>
        </tr>
      </tbody>
    </table>
  
    <table class = "formTable">
      <tbody>
        <tr>
          <td colspan="4" class="rightAlign">
            <a href="http://www.ca.com" target="_blank">
              <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
