<form [formGroup]="createGlobalAdminForm" (ngsubmit)="createGlobalAdmin()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Create Global Administrator</div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">Enter User ID, Name,Description,Password, select a list of countries for this
            administrator, check the appropriate privileges and click <b>Submit</b>. Password, list of countries and set
            of
            privileges are required to be input only if no template is selected.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>User ID</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="userid" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>First Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="firstName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Middle Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="middleName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Last Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Description</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <textarea formControlName="description" rows="5" cols="20"></textarea>
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Template ID</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="selectedTemplateName" (change)="onChangeTemplate($event.target.selectedIndex)">
            <option value="None">None</option>
            <option value="None">ICICITEMPLATE</option>
          </select>
        </td>
      </tr>


      <tr *ngIf="!templateId">
        <td class="inputkey">
          <div class="rightAlign"><a>Password </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="password" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr *ngIf="!templateId">
        <td class="inputkey">
          <div class="rightAlign"><a>Re-type Password</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="password" formControlName="rePassword" value="" size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr *ngIf="!templateId">
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="changePasswordAtFirstLogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a> Admin must change password at first login </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a> Password Never Expires </a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a> Block Simultaneous Admin Login</a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin" value="1">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a> Admin must update profile at login</a></div>
        </td>
      </tr>

      <tr>
        <td class="rightAlign">
          <div id="divTwoFactorAuthTypeLabel" style="display: none">
            <a>Two-Factor Authentication Type</a>&nbsp;&nbsp;
          </div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">
          <div style="display: none">
            <select formControlName="twoFactorAuthenticationType">
              <option value="1">CA ArcotID</option>
              <option value="2">Simple OTP</option>
            </select>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>
          &nbsp;
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Number of last passwords to check </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showPassword else hidePassword"></div>
          <ng-template #showPassword>
            <select formControlName="maxValForLastPwdList">
              <option value="0">None</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
            </select></ng-template>
          <ng-template #hidePassword>
            <select formControlName="maxValForLastPwdList" disabled>
              <option value="none">None</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
            </select>
          </ng-template>
        </td>
      </tr>

      <tr>

        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Admin Contact Details Collection </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showContact else hideContact"></div>
          <ng-template #showContact>
            <select formControlName="collectAdminContactDetails" (change)="changeAdmin($event.target.selectedIndex )"
              (change)="firstDropDownChanged($event.target.selectedIndex )">
              <option *ngFor="let v of _values1" [value]="v.id">
                {{v.name}}
              </option>
            </select>
          </ng-template>
          <ng-template #hideContact>
            <select formControlName="collectAdminContactDetails" disabled>
              <option *ngFor="let v of _values1" [value]="v.id">{{ v.name }}</option>
            </select>
          </ng-template>
        </td>
      </tr>
      <tr>

        <td>
          &nbsp;
        </td>
      </tr>
      <tr *ngIf="adminId">
        <td class="inputkey">
          <div class="rightAlign"><a>Delivery Channel </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="twoFactorDeliveryChannelType" [(ngModel)]="dropdownDownDefaultvalue">
            <option *ngFor='let v of _values2' [value]="v.id">{{ v.name }}</option>
          </select>
        </td>
      </tr>
      <tr>

        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Processor Name </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showProcessor else hideProcessor"></div>
          <ng-template #showProcessor>
            <select formControlName="processorName">
              <option value="none">None</option>
              <option value="BSS">BSS</option>
              <option value="HDFC">HDFC</option>
              <option value="ICICI">ICICI</option>
              <option value="Issuer1">Issuer1</option>
              <option value="Issuer2">Issuer2</option>
              <option value="Issuer3">Issuer3</option>
              <option value="Issuer_NoVP">Issuer_NoVP</option>
              <option value="KiranBank">KiranBank</option>
              <option value="LV3_MyBank">LV3_MyBank</option>
              <option value="NVP_U_P">NVP_U_P</option>
              <option value="PN">PN</option>
              <option value="andhrabank">andhrabank</option>
              <option value="hsbc">hsbc</option>
              <option value="ing">ing</option>
              <option value="inp">inp</option>
              <option value="iob">iob</option>
              <option value="natwest">natwest</option>
              <option value="pnb">pnb</option>
              <option value="scb">scb</option>
              <option value="stiju">stiju</option>
              <option value="tempIssuer">tempIssuer</option>
              <option value="testissuer">testissuer</option>
              <option value="tmb">tmb</option>
            </select> </ng-template>
          <ng-template #hideProcessor>
            <select formControlName="processorName" disabled>
              <option value="none">None</option>
              <option value="BSS">BSS</option>
              <option value="HDFC">HDFC</option>
              <option value="ICICI">ICICI</option>
              <option value="Issuer1">Issuer1</option>
              <option value="Issuer2">Issuer2</option>
              <option value="Issuer3">Issuer3</option>
              <option value="Issuer_NoVP">Issuer_NoVP</option>
              <option value="KiranBank">KiranBank</option>
              <option value="LV3_MyBank">LV3_MyBank</option>
              <option value="NVP_U_P">NVP_U_P</option>
              <option value="PN">PN</option>
              <option value="andhrabank">andhrabank</option>
              <option value="hsbc">hsbc</option>
              <option value="ing">ing</option>
              <option value="inp">inp</option>
              <option value="iob">iob</option>
              <option value="natwest">natwest</option>
              <option value="pnb">pnb</option>
              <option value="scb">scb</option>
              <option value="stiju">stiju</option>
              <option value="tempIssuer">tempIssuer</option>
              <option value="testissuer">testissuer</option>
              <option value="tmb">tmb</option>
            </select>
          </ng-template>
        </td>
      </tr>
      <tr>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a>Sub Processor Name </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showSubProcessor else hideSubProcessor"></div>
          <ng-template #showSubProcessor>
            <select formControlName="subProcessorName">
              <option value="none">None</option>
              <option value="BSS">BSS</option>
              <option value="HDFC">HDFC</option>
              <option value="ICICI">ICICI</option>
              <option value="Issuer1">Issuer1</option>
              <option value="Issuer2">Issuer2</option>
              <option value="Issuer3">Issuer3</option>
              <option value="Issuer_NoVP">Issuer_NoVP</option>
              <option value="KiranBank">KiranBank</option>
              <option value="LV3_MyBank">LV3_MyBank</option>
              <option value="NVP_U_P">NVP_U_P</option>
              <option value="PN">PN</option>
              <option value="andhrabank">andhrabank</option>
              <option value="hsbc">hsbc</option>
              <option value="ing">ing</option>
              <option value="inp">inp</option>
              <option value="iob">iob</option>
              <option value="natwest">natwest</option>
              <option value="pnb">pnb</option>
              <option value="scb">scb</option>
              <option value="stiju">stiju</option>
              <option value="tempIssuer">tempIssuer</option>
              <option value="testissuer">testissuer</option>
              <option value="tmb">tmb</option>
            </select> </ng-template>
          <ng-template #hideSubProcessor>
            <select formControlName="subProcessorName" disabled>
              <option value="none">None</option>
              <option value="BSS">BSS</option>
              <option value="HDFC">HDFC</option>
              <option value="ICICI">ICICI</option>
              <option value="Issuer1">Issuer1</option>
              <option value="Issuer2">Issuer2</option>
              <option value="Issuer3">Issuer3</option>
              <option value="Issuer_NoVP">Issuer_NoVP</option>
              <option value="KiranBank">KiranBank</option>
              <option value="LV3_MyBank">LV3_MyBank</option>
              <option value="NVP_U_P">NVP_U_P</option>
              <option value="PN">PN</option>
              <option value="andhrabank">andhrabank</option>
              <option value="hsbc">hsbc</option>
              <option value="ing">ing</option>
              <option value="inp">inp</option>
              <option value="iob">iob</option>
              <option value="natwest">natwest</option>
              <option value="pnb">pnb</option>
              <option value="scb">scb</option>
              <option value="stiju">stiju</option>
              <option value="tempIssuer">tempIssuer</option>
              <option value="testissuer">testissuer</option>
              <option value="tmb">tmb</option>
            </select>
          </ng-template>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>


  <table class="formTable">
    <tbody>
      <tr>
        <td class="rightAlign"><a>List Of Countries </a>
        </td>
        <td class="space"></td>
        <td class="leftAlign"><a>Selected Countries</a></td>
      </tr>
      <tr>
        <td class="rightAlign">
          <div *ngIf="!templateId; then showCountries else hideCountries"></div>
          <ng-template #showCountries>
            <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Countries"
              class="slt_Countries">
              <option *ngFor="let country of countries" value={{country.COUNTRYNAME}}>{{country.COUNTRYNAME}}</option>
            </select>
          </ng-template>
          <ng-template #hideCountries>
            <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Countries" class="slt_Countries"
              disabled>
              <option *ngFor="let country of countries" value={{country.COUNTRYNAME}}>{{country.COUNTRYNAME}}</option>
            </select>
          </ng-template>
        </td>
        <td class="dragspace">
          <table class="countryspace">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="addCountries()">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="removeCountries()">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign">
          <div *ngIf="!templateId; then showSelCountries else hideSelCountries"></div>
          <ng-template #showSelCountries>
            <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selCountries"
              formControlName="slt_selCountries">
              <option value="{{country}}" *ngFor="let country of selectedCountries">{{country}} </option>
            </select>
          </ng-template>
          <ng-template #hideSelCountries>
            <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selCountries"
              formControlName="slt_selCountries" disabled>
              <option value="{{country}}" *ngFor="let country of selectedCountries">{{country}} </option>
            </select>
          </ng-template>
        </td>
      </tr>
      <tr>
        <td class="rightAlign"><a>List Of issuers </a>
        </td>
        <td class="space"></td>
        <td class="leftAlign"><a>Selected issuers</a></td>
      </tr>
      <tr>
        <td class="rightAlign">
          <div *ngIf="!templateId; then showIssuers else hideIssuers"></div>
          <ng-template #showIssuers>
            <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Issuers" class="slt_Issuers">
              <option *ngFor="let issuer of issuers" [value]="issuer.bankName">{{issuer.bankName}}</option>
            </select>
          </ng-template>
          <ng-template #hideIssuers>
            <select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Countries" class="slt_Countries"
              disabled>
              <option *ngFor="let issuer of issuers" [value]="issuer.bankName">{{issuer.bankName}}</option>
            </select>
          </ng-template>
        </td>
        <td class="dragspace">
          <table class="countryspace">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="addIssuers()">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="removeIssuers()">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
              <tr>
                <td></td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign">
          <div *ngIf="!templateId; then showSelIssuers else hideSelIssuers"></div>
          <ng-template #showSelIssuers>
            <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selIssuers"
              formControlName="slt_selIssuers">
              <option value={{issuer}} *ngFor="let issuer of selectedIssuers">{{issuer}}</option>
            </select>
          </ng-template>
          <ng-template #hideSelIssuers>
            <select style="WIDTH: 285px;" size="4" multiple="true" class="slt_selIssuers"
              formControlName="slt_selIssuers" disabled>
              <option value={{issuer}} *ngFor="let issuer of selectedIssuers">{{issuer}}</option>
            </select>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>


  <p id="head">Action & Report Privileges for Administrator</p>
  <a href class="head">Global Privileges</a>

  <table class="countryspace" class="formTable">
    <tbody>
      <div *ngIf="!templateId; then showGlobalPrivileges else hideGlobalPrivileges"></div>
      <ng-template #showGlobalPrivileges>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space"><input type="checkbox" [checked]="checked1" (change)="allglobalPrivileges($event)"
              formControlName="globalPrivs"></td>
          <td class="inputvalue"><i>Select/De-Select All</i></td>
        </tr>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">&nbsp;</td>
        </tr>
        <tr *ngFor="let privilege of privileges.globalPrivList;">
          <td class="inputKey">&nbsp;</td>
          <td class="space">
            <div><input type="checkbox" [checked]="checked1" [formControlName]="privilege.privilegeId"></div>
          </td>
          <td class="inputvalue">{{privilege.description}}</td>
        </tr>
      </ng-template>
      <ng-template #hideGlobalPrivileges>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space"><input type="checkbox" [checked]="checked1" (change)="allglobalPrivileges($event)"
              formControlName="globalPrivs"></td>
          <td class="inputvalue"><i>Select/De-Select All</i></td>
        </tr>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">&nbsp;</td>
        </tr>
        <tr *ngFor="let privilege of privileges.globalPrivList;let index = i ">
          <td class="inputKey">&nbsp;</td>
          <td class="space">
            <div><input type="checkbox" name="privileges" [checked]="checked1"
                [formControlName]="privilege.privilegeId">
            </div>
          </td>
          <td class="inputvalue">{{privilege.description}}</td>
        </tr>
      </ng-template>
    </tbody>
  </table>

  <a href class="head">Issuer Privileges</a>

  <table class="countryspace" class="formTable">
    <tbody>
      <div *ngIf="!templateId; then showIssuerPrivileges else hideIssuerPrivileges"></div>
      <ng-template #showIssuerPrivileges>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space"><input type="checkbox" [checked]="checked2" (change)="allIssuerPrivileges($event)"
              formControlName="issuerPrivs"></td>
          <td class="inputvalue"><i>Select/De-Select All</i></td>
        </tr>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">&nbsp;</td>
        </tr>
        <tr *ngFor="let privilege of privileges.issuerPrivList; let i = index">
          <td class="inputKey">&nbsp;</td>
          <td class="space">
            <div><input type="checkbox" name="privileges" [checked]="checked2" [formControlName]="i">
            </div>
          </td>
          <td class="inputvalue">{{privilege.description}}</td>

        </tr>
      </ng-template>
      <ng-template #hideIssuerPrivileges>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space"><input type="checkbox" [checked]="checked2" (change)="allIssuerPrivileges($event)"
              formControlName="issuerPrivs"></td>
          <td class="inputvalue"><i>Select/De-Select All</i></td>

        </tr>
        <tr>
          <td class="inputKey">&nbsp;</td>
          <td class="space">&nbsp;</td>
          <td class="inputvalue">&nbsp;</td>
        </tr>
        <tr *ngFor="let privilege of privileges.issuerPrivList;">
          <td class="inputKey">&nbsp;</td>
          <td class="space">
            <div><input type="checkbox" name="privileges" [checked]="checked"
                (change)="changePrivilegesByCategory($event)" [formControlName]="privilege.privilegeId"></div>
          </td>
          <td class="inputvalue">{{privilege.description}}</td>

        </tr>
      </ng-template>
    </tbody>
  </table>

  <table class="countryspace" class="header">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <img name="next" src="../../../assets/largesubmit.gif"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="createGlobalAdmin()">
        </td>
        <td class="space">&nbsp;
        </td>
        <td class="inputvalue" class="leftAlign">
          <img name="cancel" src="../../../assets/largecancel.gif"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="countryspace">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif"  (click)="doCancel()"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>