<form [formGroup]="updateForm" (ngSubmit)="updateProfile()">
  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="3" height="17">
          <table class="formTable">
            <tbody>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="pageTitle">Update Profile</div>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="10">
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="10">
                  <div class="description">Edit the personal information and customization below and click on
                    <b>Submit</b>.</div>
                  <div class="errorMessage">{{errorMessage}}</div>
                  <div class="successMessage"></div>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="17">
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="17">
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr class="side-heading">
        <td colspan="3">
          &nbsp; <b> Personal Information</b>
        </td>
      </tr>
      <tr height="22">
        <td width="45%">
          <div class="rightAlign">Name</div>
        </td>
        <td width="1%">&nbsp;</td>
        <td>
          A B C
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a>Job Title</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="jobTitle" size="25" value="" maxlength="30">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Supervisor Name</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="supervisorName" size="25" value="" maxlength="30">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Email Address</a>
            <span class="errorMessage"></span>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminEmailAddress" size="25" value="" maxlength="100">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Phone Number</a>
            <span class="errorMessage"></span>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminPhoneNumber" size="25" value="" maxlength="15">
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          Phone number should start with country ISD code and should not contain any special characters or spaces.
          <br>Example 14089691111 where 1 is the Country Code and 4089691111 is the Mobile Number with the Area code.
        </td>
      </tr>

      <tr>
        <td width="49%">
          <div class="rightAlign"><a> Password</a>&nbsp;<font color="red"> *</font>&nbsp;</div>
        </td>
        <td width="2%">&nbsp;</td>
        <td width="49%">
          <input type="password" formControlName="currentpassword" size="25" maxlength="25" autocomplete="off">
        </td>
      </tr>

      <tr>
        <td>
          <div class="rightAlign"><a>Hint Question</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="text" formControlName="adminHintQuestion" size="25" value="" maxlength="100">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Hint Answer</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="password" formControlName="adminHintAnswer1" size="25" value="" maxlength="25" autocomplete="off">
        </td>
      </tr>
      <tr>
        <td>
          <div class="rightAlign"><a>Confirm Hint Answer</a>
          </div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="password" formControlName="adminHintAnswer2" size="25" value="" maxlength="25" autocomplete="off">
        </td>
      </tr>
      <tr>
        <td colspan="3">
          &nbsp;
        </td>
      </tr>

      <tr class="side-heading" *ngIf="showReports">
        <td colspan="3">
          &nbsp; <b> Report Preferences </b>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Records Per Page</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <select formControlName="recordsPerPage">
            <option value="0">--</option>
            <option value="10">10</option>
            <option selected="" value="20">20</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Start Date Offset</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <input type="radio" formControlName="startdate" value="1">first day of the current month<br>
          <!-- <input type="radio" checked="" formControlName="startdate" value="2"> -->


          <input type="text" formControlName="startDateOffset" size="5" maxlength="3" value="0">
          days before current date
        </td>
      </tr>

      <tr *ngIf="showReports">
        <td>
          <div class="rightAlign"><a>Locale</a></div>
        </td>
        <td>&nbsp;</td>
        <td>
          <select formControlName="adminLocale">
            <option value="14"> Thai-Thailand </option>
            <option value="13"> French-Canada </option>
            <option value="12"> Spanish-North America </option>
            <option value="11"> Portuguese-Portugal </option>
            <option value="10"> Italian-Italy </option>
            <option value="9"> Turkish-Turkey </option>
            <option value="8"> Chinese-Taiwan </option>
            <option value="7"> Korean-Korea </option>
            <option value="6"> Japanese-Japan </option>
            <option value="5"> French-France </option>
            <option value="4"> German-Germany </option>
            <option value="3"> English-United Kingdom </option>
            <option value="2"> Spanish-Spain </option>
            <option value="1" selected=""> English-United States </option>
          </select>
        </td>
      </tr>

      <tr *ngIf="showReports">
        <td height="13">
          <div class="rightAlign"><a>Local Time Zone</a> </div>
        </td>
        <td height="13">&nbsp;</td>
        <td height="13" width="50%">
          <select formControlName="localTimeZone">
            <option value="GMT-11:00">Samoa Standard Time (GMT-11:00)</option>
            <option value="GMT-10:00">Hawaii Standard Time (GMT-10:00)</option>
            <option value="GMT-09:30">Marquesas Islands Time (GMT-09:30)</option>
            <option value="GMT-09:00">Alaska Standard Time (GMT-09:00)</option>
            <option value="GMT-08:00">Pacific Standard Time (GMT-08:00)</option>
            <option value="GMT-07:00">Mountain Standard Time (GMT-07:00)</option>
            <option value="GMT-06:00">Central Standard Time (GMT-06:00)</option>
            <option value="GMT-05:00">Eastern Standard Time (GMT-05:00)</option>
            <option value="GMT-04:00">Eastern Daylight Time (GMT-4:00)</option>
            <option value="GMT-03:00">Argentina/Brasilia Time (GMT-03:00)</option>
            <option value="GMT">Greenwich Mean Time (GMT)</option>
            <option value="UTC">Cordinated Universal Time (GMT)</option>
            <option value="GMT+01:00">British Summer/Central European Time (GMT+01:00)</option>
            <option value="GMT+02:00">Central Africa/Eastern European Time (GMT+02:00)</option>
            <option value="GMT+03:00">East Africa Time (GMT+03:00)</option>
            <option value="GMT+03:30">Iran Standard Time (GMT+03:30)</option>
            <option value="GMT+04:00">Gulf Standard Time (GMT+04:00)</option>
            <option value="GMT+05:00">Pakistan Standard Time(GMT+5:00)</option>
            <option value="GMT+05:30" selected="">Indian Standard Time (GMT+05:30)</option>
            <option value="GMT+06:00">Bangladesh Standard Time (GMT+06:00)</option>
            <option value="GMT+07:00">Vietnam Standard Time (GMT+07:00)</option>
            <option value="GMT+08:00">China Standard Time (GMT+08:00)</option>
            <option value="GMT+09:00">Japan Standard Time (GMT+09:00)</option>
            <option value="GMT+09:30">Australian Central Standard Time (GMT+09:30)</option>
            <option value="GMT+10:00">Australian Eastern Standard Time (GMT+10:00)</option>
            <option value="GMT+11:00">Solomon Islands Time (GMT+11:00)</option>
            <option value="GMT+12:00">New Zealand Standard Time (GMT+12:00)</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="showReports">
        <td height="13">
          <div class="rightAlign"><a>Date Order for Report Generation</a>
          </div>
        </td>
        <td height="13">&nbsp;</td>
        <td height="13" width="50%">
          <select formControlName="timeStampFormat">
            <option value="yyyy-MM-dd hh:mm:ss a z" selected="">yyyy-MM-dd hh:mm:ss a z</option>
            <option value="MM-dd-yyyy hh:mm:ss a z">MM-dd-yyyy hh:mm:ss a z</option>
            <option value="dd-MM-yyyy hh:mm:ss a z">dd-MM-yyyy hh:mm:ss a z</option>
            <option value="yyyy/MM/dd hh:mm:ss a z">yyyy/MM/dd hh:mm:ss a z</option>
            <option value="MM/dd/yyyy hh:mm:ss a z">MM/dd/yyyy hh:mm:ss a z</option>
            <option value="dd/MM/yyyy hh:mm:ss a z">dd/MM/yyyy hh:mm:ss a z</option>
            <option value="dd-MM-yyyy HH:mm:ss z">dd-MM-yyyy HH:mm:ss z</option>
            <option value="dd/MM/yyyy HH:mm:ss z">dd/MM/yyyy HH:mm:ss z</option>
          </select>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="22">
          <hr>
        </td>
      </tr>
      <tr >
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="updateProfile()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
        </td>

      </tr>
      <!-- <tr *ngIf="!showReports">
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="updateAtFirstLogin()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
        </td>

      </tr> -->
      <tr>
        <td colspan="3" height="22">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3" height="67">
          <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
              <tr>
                <td colspan="4" class="rightAlign">
                  <a href="http://www.ca.com" target="_blank">
                    <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</form>