<form [formGroup]="configureAdministratorPrivilegesForm" class="global" (ngsubmit)="configureAdministratorPrivileges()">
  <table class = "header">
  
    <tbody>
      <tr>
        <td>
          <table class="header">
            <tbody>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="3">
                  <div class="pageTitle">Configure Administrator Privileges</div>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="10">
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="10">
                  <div class="description">Select the appropriate values and click <b>Submit</b>.</div>
                  <div class="errorMessage">{{errorMessage}}</div>
                  <div class="successMessage"></div>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="17">
                  <hr>
                </td>
              </tr>
              <tr>
                <td colspan="3" height="17">
                </td>
              </tr>
            </tbody>
          </table>
  
        </td>
      </tr>
      <tr>
        <td>
          <table width="100%" class = "formTable">
            <tbody>
              <tr>
                <td width="10%">
                  <a>
                    <div class="tableHeadingWithLink">
                      Enable
                    </div>
                  </a>
                </td>
                <td width="40%" class="leftAlign">
                  <a>
                    <div class="tableHeadingWithLink">
                      Privilege Description
                    </div>
                  </a>
                </td>
                <td width="40%" class="leftAlign">
                  <a>
                    <div class="tableHeadingWithLink">
                      Menu Location
                    </div>
                  </a>
                </td>
                <td width="10%">
                  <a>
                    <div class="tableHeadingWithLink">
                      Dual Control
                    </div>
                  </a>
                </td>
              </tr>
  
              <tr class = "center" *ngFor = "let privilege of privileges;let i = index">
                <td width="10%">
                  <input type="checkbox"  [formControlName]="i" [checked]="privilege.checked">
                </td>
                <td width="40%" class="leftAlign">{{privilege.description}}
                  <input type="hidden"  value="S8923">
                </td>
                <td width="40%" class="leftAlign">
                  <input type="hidden"  value="12">
                  {{privilege.menuid}}
                </td>
                <td width="10%">
                  <input type="checkbox"   [formControlName]="privilege.privilegeId" [checked]="privilege.dualChecked">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table width="100%" class="header">
            <tbody>
              <tr>
                <td colspan="4" height="22">
                  <hr>
                </td>
              </tr>
              <tr>
                <td width="48%" height="5" class="rightAlign">
                  <img name="next" src="../../../assets/largesubmit.gif"
                    onmouseout="this.src ='../../../assets/largesubmit.gif'"
                    onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="configureAdministratorPrivileges()">
                </td>
                <td width="2%" height="5">&nbsp;
                </td>
                <td height="5" width="50%" class="leftAlign">
                  <img name="cancel" src="../../../assets/largecancel.gif"
                    onmouseout="this.src ='../../../assets/largecancel.gif'"
                    onmouseover="this.src ='../../../assets/largecancel_on.gif'" (click) = "doCancel()" alt="Cancel">
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <hr>
                </td>
              </tr>
            </tbody>
          </table>
          <table width="100%">
            <tbody>
              <tr>
                <td colspan="4" class="rightAlign">
                  <a href="http://www.ca.com" target="_blank">
                    <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  </form>
  
  