<form [formGroup]="globalAdminUpdateForm" (ngsubmit)="updateGlobalAdmin()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <div class="pageTitle">Update Global Administrator Privileges
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
          <div class="description">Select User ID, check the appropriate privileges and click <b> Submit</b>.</div>
          <div class="errorMessage">{{errorMessage}}</div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td>
          <hr>
        </td>
      </tr>
      <tr>
        <td>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">User ID </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select (change)="changeAdmin($event.target.selectedIndex)" formControlName="userEncoding">
            <option value="--">---</option>
            <option [value]="user.name" *ngFor="let user of users">{{user.name}}</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <br>


  <table class="formTable" *ngIf="showDetails">
    <tbody>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">First Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="firstName" [value]="adminDetails.response.adminInput.firstNameClear"
            size="25" maxlength="55">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Middle Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="middleName" size="25" maxlength="55"
            [value]="adminDetails.response.adminInput.middleNameClear">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Last Name</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <input type="text" formControlName="lastName" value="" size="25" maxlength="55"
            [value]="adminDetails.response.adminInput.lastNameClear">
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Description</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <textarea formControlName="description" rows="5" cols="20"
            [value]="adminDetails.response.adminInput.description"></textarea>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="pwdNeverExpires"
            [checked]="adminDetails.response.adminInput.pwdNeverExpires">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Password Never Expires </a></div>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Template ID</a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="templateIdClear" (change)="changeTemplate($event.target.selectedIndex)">
            <option value="-1000">None</option>
            <!-- <option value="2">ICICITEMPLATE</option> -->
          </select>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="blksimultlogin"
            [checked]="adminDetails.response.adminInput.blockkSimultaneousLogin">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Block Simultaneous Admin Login</a></div>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="CHECKBOX" formControlName="updateProfileAtLogin"
            [checked]="adminDetails.response.adminInput.updateProfileAtLogin">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign"><a href="#"> Admin must update profile</a></div>
        </td>
      </tr>

      <tr>
        <td class="rightAlign">
          <div id="divTwoFactorAuthTypeLabel" style="display: none">
            <a href="#">Two-Factor Authentication Type</a>&nbsp;&nbsp;
          </div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="leftAlign">
          <div style="display: none">
            <select>
              <option value="1">CA ArcotID</option>
              <option value="2">Simple OTP</option>
            </select>
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>
          &nbsp;
        </td>
      </tr>


      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Number of last passwords to check </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showPassword else hidePassword"></div>
          <ng-template #showPassword>
            <select formControlName="maxValForLastPwdList">
              <option value=0>None</option>
              <option [value]="passwordNumbers.label"
                *ngFor="let passwordNumbers of adminDetails.response.valuesForLastPwdList">{{passwordNumbers.value}}
              </option>
            </select></ng-template>
          <ng-template #hidePassword>
            <select formControlName="maxValForLastPwdList" disabled>
              <option value=0>None</option>
              <option [value]="passwordNumbers.label"
                *ngFor="let passwordNumbers of adminDetails.response.valuesForLastPwdList">{{passwordNumbers.value}}
              </option>
            </select>
          </ng-template>
        </td>
      </tr>

      <tr>

        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Admin Contact Details Collection </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showContact else hideContact"></div>
          <ng-template #showContact>
            <select formControlName="collectAdminContactDetails"
              (change)="showDeliveryChannel($event.target.selectedIndex)"
              (change)="firstDropDownChanged($event.target.selectedIndex )">
              <option *ngFor="let v of _values1" [value]="v.id">
                {{v.name}}
              </option>
            </select>
          </ng-template>
          <ng-template #hideContact>
            <select formControlName="collectAdminContactDetails" disabled>
              <option *ngFor="let v of _values1" [value]="v.id">{{ v.name }}</option>
            </select>
          </ng-template>
        </td>
      </tr>
      <tr>

        <td>
          &nbsp;
        </td>
      </tr>
      <tr *ngIf="adminId">
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Delivery Channel </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <select formControlName="twoFactorDeliveryChannelType">
            <option *ngFor="let v of _values2" [value]="v.id">{{ v.name }}</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Processor Name </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showProcessor else hideProcessor"></div>
          <ng-template #showProcessor>
            <select formControlName="processorName">
              <option value="null">None</option>
              <option [value]="processor.label" *ngFor="let processor of adminDetails.response.valuesForProcessorName">
                {{processor.value}}</option>
            </select> </ng-template>
          <ng-template #hideProcessor>
            <select formControlName="processorName" disabled>
              <option value="null">None</option>
              <option [value]="processor.label" *ngFor="let processor of adminDetails.response.valuesForProcessorName">
                {{processor.value}}</option>
            </select>
          </ng-template>
        </td>
      </tr>
      <tr>

        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td class="inputkey">
          <div class="rightAlign"><a href="#">Sub Processor Name </a></div>
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div *ngIf="!templateId; then showSubProcessor else hideSubProcessor"></div>
          <ng-template #showSubProcessor>
            <select formControlName="subProcessorName">
              <option value="null">None</option>
              <option [value]="subprocessor.label"
                *ngFor="let subprocessor of adminDetails.response.valuesForSubProcessorName">{{subprocessor.value}}
              </option>
            </select> </ng-template>
          <ng-template #hideSubProcessor>
            <select formControlName="subProcessorName" disabled>
              <option value="null">None</option>
              <option [value]="subprocessor.label"
                *ngFor="let subprocessor of adminDetails.response.valuesForSubProcessorName">{{subprocessor.value}}
              </option>
            </select>
          </ng-template>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>






    </tbody>
  </table>

  <table class="formTable" *ngIf="showDetails">
    <tbody>
      <tr>
        <td class="rightAlign"><a href="#">List Of Issuers </a>
        </td>
        <td class="dragspace"></td>
        <td class="leftAlign"><a href="#"> Selected Issuers</a></td>
      </tr>
      <tr>
        <td class="rightAlign"><select style="WIDTH: 285px;" multiple="true" size="4" formControlName="slt_Issuers">
            <option *ngFor="let issuer of banklist" [value]="issuer.bankName">{{issuer.bankName}}</option>
          </select></td>
        <td class="dragspace">
          <table class="countryspace">
            <tbody>
              <tr>
                <td></td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="addIssuers()">&gt;&gt;&gt;&gt;</a>
                </td>
              </tr>
              <tr>
                <td class="middleAlign"><a (click)="removeIssuers()">&lt;&lt;&lt;&lt;</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td class="leftAlign"><select style="WIDTH: 285px;" size="4" multiple="true" formControlName="slt_selIssuers">
            <option [value]="issuer" *ngFor="let issuer of selectedIssuers">
              {{issuer}}</option>
          </select></td>
      </tr>

    </tbody>

  </table>
  <br><br>
  <p id="head" *ngIf="showDetails">Action & Report Privileges for Administrator</p>
  <a href class="head" *ngIf="showDetails">Global Privileges</a>
  <table class="countryspace" class="formTable" *ngIf="showDetails">
    <tbody>
      <tr>
        <td class="inputkey" class="rightAlign">
          <input type="checkbox" [checked]="checked" name="privileges" (change)="allPrivileges($event)"
            formControlName="privs">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign">Select/De-Select All</div>
        </td>
      </tr>
      <tr *ngFor="let privilege of loggedInPrivileges;let i = index">
        <td class="inputkey" class="rightAlign">
          <input type="checkbox" [formControlName]="i" name="privileges" [checked]="privilege.checked">
        </td>
        <td class="space">&nbsp;</td>
        <td class="inputvalue">
          <div class="leftAlign">{{privilege.description}}</div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" class="header" *ngIf="showDetails">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td class="inputkey" class="rightAlign">
          <img src="../../../assets/largesubmit.gif" onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit" (click)="updateGlobalAdmin()">
        </td>
        <td class="space">&nbsp;
        </td>

        <td class="inputvalue" class="leftAlign">
          <img src="../../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="countryspace" *ngIf="showDetails">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif"></a>
        </td>
      </tr>
    </tbody>
  </table>




</form>