<form [formGroup]="configureIssuerAdminPrivilegesForm" class="global" (ngsubmit)="configureIssuerAdminPrivileges()">
  <table class="header">
    <tbody>
      <tr>
        <td>
          <table class="header">
            <tbody>
              <tr>
                <td>&nbsp;
                </td>
              </tr>
              <tr>
                <td>
                  <div class="pageTitle">Configure Issuer Administrator Privileges</div>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="description">Select the appropriate values and click <b>Submit</b>.</div>
                  <div class="errorMessage">{{errorMessage}}</div>
                  <div class="successMessage"></div>
                </td>
              </tr>
              <tr>
                <td>
                  <hr>
                </td>
              </tr>
              <tr>
                <td>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          <table class="formTable">
            <tbody>
              <tr>
                <td>
                  <a>
                    <div class="tableHeadingWithLink">
                      Enable
                    </div>
                  </a>
                </td>
                <td class="leftAlign">
                  <a>
                    <div class="tableHeadingWithLink">
                      Privilege Description
                    </div>
                  </a>
                </td>
                <td class="leftAlign">
                  <a>
                    <div class="tableHeadingWithLink">
                      Menu Location
                    </div>
                  </a>
                </td>
                <td>
                  <a>
                    <div class="tableHeadingWithLink">
                      Dual Control
                    </div>
                  </a>
                </td>
              </tr>

              <tr *ngFor="let privilege of privileges;let i = index">
                <td>
                  <input type="checkbox" [formControlName]="i" [checked]="privilege.checked" class="aligncenter">
                </td>
                <td class="leftAlign">{{privilege.description}}
                  <input type="hidden" value="S8923">
                </td>
                <td class="leftAlign">
                  <input type="hidden" value="12">
                  {{privilege.menuid}}
                </td>
                <td>
                  <input type="checkbox" [formControlName]="privilege.privilegeId" [checked]="privilege.dualChecked"
                    class="aligncenter">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>
          <table class="countryspace" class="header">
            <tbody>
              <tr>
                <td colspan="4" >
                  <hr>
                </td>
              </tr>
              <tr>
                <td class="inputkey" class="rightAlign">
                  <img name="next" src="../../../assets/largesubmit.gif"
                    onmouseout="this.src ='../../../assets/largesubmit.gif'"
                    onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit"
                    (click)="configureIssuerAdminPrivileges()">
                </td>
                <td class="space">&nbsp;
                </td>
                <td class="inputvalue" class="leftAlign">
                  <img name="cancel" src="../../../assets/largecancel.gif"
                    onmouseout="this.src ='../../../assets/largecancel.gif'"
                    onmouseover="this.src ='../../../assets/largecancel_on.gif'" (click)="doCancel()" alt="Cancel">
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  <hr>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="countryspace">
            <tbody>
              <tr>
                <td colspan="4" class="rightAlign">
                  <a href="http://www.ca.com" target="_blank">
                    <img src="../../../assets/arcot_logo_PB.gif" ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</form>