<form [formGroup]="uploadSigningCertificateForm" (ngsubmit)="uploadSigningCertificate()" class="global">
  <table class="header">
    <tbody>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="pageTitle">Enable Card Ranges</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <div class="description">
            Please select the card range(s) to enable.
          </div>
          <div class="errorMessage"></div>
          <div class="successMessage"></div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <hr>
        </td>
      </tr>
      <tr>
        <td colspan="3">
        </td>
      </tr>
    </tbody>
  </table>

  <table class = "formTable">
    <tbody>
      <tr>
        <!-- Issuer -->
        <td class="rightAlign" valign="middle">
          <a href="#">Issuer:</a>
        </td>
        <td>&nbsp;</td>
        <td colspan="3" class="leftAlign" valign="top">
            <select name="bankId" size="1" style="width: 250">
              <option value="-1000">----------- Select Issuer Name -----------</option>
              <option value="9">aloksbank</option>
              <option value="23">andhrabank</option>
              <option value="45">CAStrongAuthIssuer1</option>
              <option value="44">CBSIssuer2</option>
              <option value="4">citibank</option>
              <option value="52">CollectExtendedDDNAIssuerMCUnique01</option>
              <option value="51">CollectExtendedDDNAIssuerUnique01</option>
              <option value="21">DU_V_P</option>
              <option value="77">dummy</option>
              <option value="43">GDPR_testissuer</option>
              <option value="6">GrameenBank</option>
              <option value="2">HDFC</option>
              <option value="1">HSBC</option>
              <option value="3">ICICI_India</option>
              <option value="25">ing</option>
              <option value="78">InnomindsIssuer</option>
              <option value="37">IOB</option>
              <option value="38">Issuer1</option>
              <option value="39">Issuer2</option>
              <option value="40">Issuer3</option>
              <option value="19">Issuer_nopareq</option>
              <option value="17">Issuer_NoVP</option>
              <option value="75">KiranBank</option>
              <option value="30">LV2_HDFC</option>
              <option value="31">LV3_MyBank</option>
              <option value="32">LV4_MyBank</option>
              <option value="33">LV5_MyBank</option>
              <option value="29">LV_HDFC</option>
              <option value="46">MCIDIssuer1</option>
              <option value="47">MCIDIssuer2</option>
              <option value="48">MCIDIssuer3</option>
              <option value="49">MCIDIssuer4</option>
              <option value="50">MCIDIssuer5</option>
              <option value="22">MCIDssuer</option>
              <option value="8">NatWestBank</option>
              <option value="16">NewHSBC</option>
              <option value="15">NewSCB</option>
            </select>
        </td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <!-- Range -->
        <td class="rightAlign" valign="middle">
          <a href="#" >Range:</a>
        </td>
        <td>&nbsp;</td>
        <td colspan="3" class="leftAlign" valign="top">
        
            <select name="rangeIds" multiple="multiple" size="5" style="height: 200; width: 300">
              <option value="-1000">----------- Select Card Range -----------</option>
            </select> 
        </td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

      <tr>
        <td height="8"></td>
      </tr>

    </tbody>
  </table>
  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>

      <tr>
        <td width="48%" class="rightAlign">
          <img name="next" src="../../assets/largesubmit.gif" alt="Submit" onmouseout="this.src ='../../../assets/largesubmit.gif'" onmouseover="this.src ='../../../assets/largesubmit_on.gif'" (click)="createIssuer()">
        </td>
        <td width="2%">&nbsp;
        </td>

        <td width="50%" class="leftAlign">
          <img name="cancel" src="../../assets/largecancel.gif" onmouseout="this.src ='../../../assets/largecancel.gif'" onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel">
        </td>


      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="formTable">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../assets/arcot_logo_PB.gif" class="arcot_logo"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
