<form [formGroup]="updateAdministratorPrivilegesForm" (ngsubmit)="updateAdministratorPrivileges()" class="global">
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td>
          <table class="header" width="100%">
            <tbody>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>
                  <div class="pageTitle">Update Administrator Privileges</div>
                </td>
              </tr>
              <tr>
                <td height="10">
                  <hr>
                </td>
              </tr>
              <tr>
                <td height="10">

                  <div class="description">Select User ID, check the appropriate privileges and click
                    <b>Submit<b>.</b></b></div><b><b>
                      <div class="errorMessage">{{errorMessage}}</div>
                      <div class="successMessage"></div>
                    </b></b>
                </td>
              </tr>
              <tr>
                <td height="17">
                  <hr>
                </td>
              </tr>
              <tr>
                <td height="17"></td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
      <tr>
        <td>
          <table class="formTable" width="100%">



            <tbody>
              <tr>
                <td width="37%" class="rightAlign">
                  <a href="#"> Issuer </a>
                  &nbsp;
                </td>
                <td width="63%" class="leftAlign">
                  <select formControlName="adminBankId">
                    <option value="0">--</option>
                    <option value="23" selected="selected">andhrabank</option>
                    <option value="91">Blessy1</option>
                    <option value="45">CAStrongAuthIssuer1</option>
                    <option value="44">CBSIssuer2</option>
                    <option value="4">citibank</option>
                  </select>
                </td>
              </tr>

            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>
          <table class="formTable" width="100%">
            <tbody>
              <tr>
                <td width="37%" class="rightAlign">
                  <a href="#">User ID</a>
                  &nbsp;
                </td>
                <td width="63%" class="leftAlign">
                  <select formControlName="adminIdClear">
                    <option value="-1000">--</option>
                    <option value="10315">10315 - PINK GREEN YELLOW </option>
                    <option value="10321">10321</option>
                    <option value="22222" selected="selected">22222</option>
                    <option value="33333">33333</option>
                    <option value="KADIYALA548">KADIYALA548 - MADHU KADIYALA VENU </option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td>&nbsp;</td>
      </tr>


      <tr>
        <td>
          <table class="formTable" width="100%">

            <tbody>
              <tr>
                <td width="15%">&nbsp;</td>

                <td class="rightAlign">
                  <a href="#">First Name</a>
                  &nbsp;
                </td>
                <td class="leftAlign">
                  <input type="text" formControlName="firstNameClear" maxlength="30" size="25" value="">
                </td>
                <td width="15%">&nbsp;</td>
              </tr>
              <tr>
                <td width="15%">&nbsp;</td>
                <td class="rightAlign">
                  <a href="#">Middle Name</a>
                  &nbsp;
                </td>

                <td class="leftAlign">
                  <input type="text" formControlName="middleNameClear" maxlength="30" size="25" value="">
                </td>

                <td width="15%">&nbsp;</td>
              </tr>
              <tr>
                <td width="15%">&nbsp;</td>
                <td class="rightAlign">
                  <a href="#">Last Name</a>
                  &nbsp;
                </td>

                <td class="leftAlign">
                  <input type="text" formControlName="lastNameClear" maxlength="30" size="25" value="">
                </td>

                <td width="15%">&nbsp;</td>
              </tr>

              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr>
                <td width="15%">&nbsp;</td>
                <td class="rightAlign">
                  <a href="#">Description</a>
                  &nbsp;
                </td>

                <td class="leftAlign">
                  <textarea formControlName="description" cols="21" rows="5"></textarea>
                </td>

                <td width="15%">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>

              <tr>
                <td>&nbsp;</td>

                <td class="rightAlign">
                  <input type="checkbox" formControlName="pwdNeverExpires" value="true">
                  &nbsp;
                </td>
                <td class="leftAlign">
                  <a href="#">Password Never Expires</a>
                </td>
                <td width="5%"></td>
              </tr>


              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>

              <tr>
                <td width="15%">&nbsp;</td>
                <td class="rightAlign">
                  <a href="#">Template ID</a>
                  &nbsp;
                </td>
                <td class="leftAlign">
                  <select formControlName="templateIdClear">
                    <option value="0">None</option>
                  </select>

                </td>
                <td width="15%">&nbsp;</td>
              </tr>

              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
              </tr>

              <tr>
                <td width="16%">&nbsp;</td>
                <td class="rightAlign">
                  <input type="checkbox" formControlName="blockkSimultaneousLogin" value="true">
                  &nbsp;
                </td>

                <td class="leftAlign">
                  <a href="#"> Block Simultaneous Admin Login </a>
                </td>
                <td width="15%">&nbsp;</td>
              </tr>
              <tr>
                <td width="15%">&nbsp;</td>
                <td class="rightAlign">
                  <input type="checkbox" formControlName="updateProfileAtLogin" value="true">
                  &nbsp;
                </td>

                <td class="leftAlign">
                  <a href="#"> Admin must update profile </a>
                </td>
                <td width="15%">&nbsp;</td>
              </tr>


            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          &nbsp;
        </td>
      </tr>
      <tr>
        <td>
          <table class = "formTable" width="100%">
            <tbody>
              <tr>
                <td width="37%" class="rightAlign">
                  <a href="#"> Number of last passwords to check</a> &nbsp;
                </td>
                <td width="63%" class="leftAlign">
                  <select formControlName="maxValForLastPwdList">
                    <option value="0" selected="selected">None</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          &nbsp;
        </td>
      </tr>

      <tr>
        <td>
          <table class = "formTable" width="100%">
            <tbody>
              <tr>
                <td width="37%" class="rightAlign">
                  <a href="#"> Admin Contact Details Collection</a>
                  &nbsp;
                </td>
                <td width="63%" class="leftAlign">
                  <select formControlName="collectAdminContactDetails" disabled>
                    <option value="0" style="display: none;">Do not collect.</option>
                    <option value="1">Only Email Address</option>
                    <option value="2">Only Phone No.</option>
                    <option value="3" selected="selected">Both Email Address and Phone No.</option>
                  </select>
                </td>
              </tr>
              <tr>

                <td class="rightAlign">
                  <div id="divDeliveryChannelLabel">
                    <a href="#">Delivery Channel</a> &nbsp;
                  </div>
                </td>
                <td class="leftAlign">
                  <div id="divDeliveryChannelValue">
                    <select formControlName="twoFactorDeliveryChannelType" disabled="disabled" id="twoFactorDeliveryChannelType">
                      <option value="1" style="display: block;">SMS</option>
                      <option value="2" style="display: block;">EMAIL</option>
                      <option value="3" style="display: block;">VOICE</option>
                      <option value="4" selected="selected" style="display: block;">EMAIL and SMS</option>
                      <option value="5" style="display: block;">EMAIL and VOICE</option>
                    </select>
                  </div>
                </td>

              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </tbody>
  </table>

  <p id="head">Action & Report Privileges for Administrator</p>
  <table cellspacing="0" cellpadding="0" width="100%" class="formTable">
    <tbody>
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="5%"><input type="checkbox" [checked]="checked" (change)="allPrivileges($event)"
            formControlName="privs"></td>
        <td width="55%"><i>Select/De-Select All</i></td>
        <td width="5%"></td>
      </tr>
      <tr>
        <td width="35%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="5%">&nbsp;</td>
        <td width="55%">&nbsp;</td>
      </tr>
      <tr *ngFor="let privilege of privileges; let i = index">
        <td width="35%">&nbsp;</td>
        <td width="5%">
          <div><input type="checkbox" formControlName="privileges" [checked]="checked"
              (change)="changePrivilegesByCategory($event)" [formControlName]="i"></div>
        </td>
        <td width="55%">{{privilege.description}}</td>
        <td width="5%"></td>
      </tr>
    </tbody>
  </table>

  <table cellspacing="0" cellpadding="0" width="100%" class="header">
    <tbody>
      <tr>
        <td colspan="4" height="22">
          <hr>
        </td>
      </tr>
      <tr>
        <td width="48%" height="5" class="rightAlign">
          <img src="../../../assets/largesubmit.gif"
            onmouseout="this.src ='../../../assets/largesubmit.gif'"
            onmouseover="this.src ='../../../assets/largesubmit_on.gif'" alt="Submit"
            (click)="updateAdministratorPrivileges()">
        </td>
        <td width="2%" height="5">&nbsp;
        </td>
        <td height="5" width="50%" class="leftAlign">
          <img src="../../../assets/largecancel.gif"
            onmouseout="this.src ='../../../assets/largecancel.gif'"
            onmouseover="this.src ='../../../assets/largecancel_on.gif'" alt="Cancel" (click)="doCancel()">
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <hr>
        </td>
      </tr>
    </tbody>
  </table>
  <table cellspacing="0" cellpadding="0" width="100%">
    <tbody>
      <tr>
        <td colspan="4" class="rightAlign">
          <a href="http://www.ca.com" target="_blank">
            <img src="../../../assets/arcot_logo_PB.gif" width="300" height="75"></a>
        </td>
      </tr>
    </tbody>
  </table>
</form>